<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 
    
    
    <main class="home-inicio">
                <!-- CAROUSEL -->
                <%- include('../partials/carousel.ejs') %> 
                
                <!-- END CAROUSEL -->
                    
                <h2><%= title %> </h2>

            <%- include ('../partials/slider.ejs') %> 
           
            
                <!--Imagenes-->

                <div class="container-fluid">
                        <div class="cajaPrincipal">
                            <a href="/products" class="imagen1">
                                <img src="/img/photos/bubble.jpg" alt="">
                                <h2>25% DE DESCUENTO EN PRODUCTOS SELECCIONADOS</h2>
                            </a>
                            <a href="/products" class="imagen1">
                                <img src="/img/photos/stitch3.jpg" alt="">
                                <h2>REMERONES</h2>
                            </a>
                        </div>
                </div>

                <!--Final de imagenes-->

                <!--Comienzo de videos-->
                <div class="container">
                        <div class="cajavideo">
                            <div class=" video1">
                                <video src="/img/video1.mp4" controls autoplay muted loop></video>
                            </div>
                            <div class=" video1">
                                <video src="/img/video2.mp4" controls autoplay muted loop></video>
                            </div>
                        </div>
                </div>

            </main>
            <!--Final de videos-->
            
            <%- include('../partials/whatsapp.ejs') %>
            
            <%- include('../partials/footer.ejs') %>
            
            <%- include('../partials/scripts.ejs') %> 
                    

    </body>

</html>