<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/load.ejs') %>
  <%-include('../partials/header.ejs')%>

  <main class="container-listProduct">
    <section class="section1" style=<%= display %>>
      <span class="iconify iconFilter" data-icon="mi:filter" data-inline="false"><button></button></span>
      <form class="nav-bar">
        <input class="filted" type="submit" value="FILTRAR">

        <select class="dropdown" type="text" name="color" id="color" placeholder="Color" required title="Color">
          <option value="" selected hidden>Color</option>
          <% colors.forEach(color => { %>
          <option value="<%- color.id %>"><%- color.name %></option>
          <% }) %>
        </select>

        <select class="dropdown" name="size" id="size" required title="Talle">
          <option selected hidden>Talle</option>
          <% sizes.forEach(size => { %>
          <option value="<%- size.id %>"><%- size.name %></option>
          <% }) %>
        </select>

        <select class="dropdown" name="price" id="price" required title="price">
          <option selected hidden>Precio</option>
          <% products.find(product => { %>
          <option value="<%- product.price %>"><%- product.price %></option>
          <% }) %>
        </select>

      </form>
    </section>
    <hr>
    <section class="section2">
      <% products.forEach(product=>{ %>
      <article class="product">
        <a href="/products/detail/<%= product.id %>">
          <img src="/img/photos/<%= product.images.length>0? product.images[0].filename:'default.png' %>" alt="">
          <h3><% if (product.name.length > 12) { %>
            <%- `${product.name.slice(0,12)}...` %>
            <% }else{ %>
            <%= product.name %>
            <% } %> </h3>

          <p class="price">
            <%=toThousand(Math.round(product.price - product.price * product.discount /
                        100))%>
          </p>
          <span class="price-line-medio">
            <%= product.discount> 0?`$${toThousand(Math.round(product.price))}` : "" %>
          </span>
          <p class="discount">
            <%=product.discount> 0?`${product.discount} %Off` : "" %>
          </p>
        </a>
      </article>
      <% }) %>
    </section>
  </main>

  </form>
  </section>

  </main>

  <%- include('../partials/footer.ejs') %>
  <%-include('../partials/scripts.ejs') %>
</body>

</html>