<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/load.ejs') %>
  <%-include('../partials/header.ejs')%>

  <main class="container-listProduct">

    
    <section class="section1" style=<%= display %>>
      <span class="iconify iconFilter" id="filter" data-icon="mi:filter" data-inline="false"><button></button></span>

      

      <div class="nav-bar">
        <input class="filted" type="submit" id="filterProducts" value="FILTRAR">

        <select class="dropdown" type="text" name="color" id="colorSelect" placeholder="Color" title="Color">
          <option value="" selected hidden>COLOR</option>
          <% colors.forEach(color => { %>
          <option value="<%- color.name %>"><%- color.name.toUpperCase() %></option>
          <% }) %>
        </select>

        <select class="dropdown" name="size" id="sizeSelect" title="Talle">
          <option value="" selected hidden>TALLE</option>
          <% sizes.forEach(size => { %>
          <option value="<%- size.name %>"><%- size.name %></option>
          <% }) %>
        </select>

        <select class="dropdown" name="price" id="priceSelect" title="price">
          <option value="" selected hidden>PRECIO</option>
          <% products.find(product => { %>
          <option value="<%- product.price %>"><%- product.price %></option>
          <% }) %>
        </select>
      </div>
    </section>
    <hr>
    <section id="sectionProducts" class="section2">
      <input id="accountantProducts" style="display: none;" value="<%= products.length %> "></input>
      <% products.forEach(product=>{ %>
      <article class="product" price="<%= product.price %>" color="<%= product.colors[0].name %>" size="<%= product.sizes[0].name %>">
        <a href="/products/detail/<%= product.id %>">
          <img src="/img/photos/<%= product.images.length>0? product.images[0].filename:'default.png' %>" alt="">
          <h3><% if (product.name.length > 12) { %>
            <%- `${product.name.slice(0,12)}...` %>
            <% }else{ %>
            <%= product.name %> 
            <% } %> </h3>

          <p class="price">
            <%=toThousand(Math.round(product.price - product.price * product.discount /
                        100))%>
          </p>
          <span class="price-line-medio">
            <%= product.discount> 0?`$${toThousand(Math.round(product.price))}` : "" %>
          </span>
          <p class="discount">
            <%=product.discount> 0?`${product.discount} %Off` : "" %>
          </p>
        </a>
      </article>
      <% }) %>
    </section>
  </main>

  </form>
  </section>


  <%- include('../partials/footer.ejs') %>
  <%-include('../partials/scripts.ejs') %>
  <script src="/js/listProductFilter.js" defer></script>
</body>

</html>