<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/load.ejs') %>
  <%-include('../partials/header.ejs')%>

  <main class="container-listProduct">
    <%- include('../partials/cardProduct.ejs') %> 
  </main>
  

  
  <%- include('../partials/footer.ejs') %>
  <%-include('../partials/scripts.ejs') %>
  <%-include('../partials/whatsapp.ejs') %>
</body>

</html>