<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>
            <main class="admin">
                <h2>Agregar un producto</h2>
                <div class="container">
                    <form action="/admin/products/add" method="post" class="inputRows" enctype="multipart/form-data">

                        <!-- INPUT NAME -->
                        <% if(locals.errors && errors.name){ %>
                            <small class="error-validator">
                                <%= errors.name.msg %>
                            </small>
                            <% } %>
                                <input type="text" name="name" value="<%= locals.old && old.name %>" id="name"
                                    placeholder="Nombre" title="nombre">

                                <!-- TEXTAREA DESCRIPTION -->
                                <textarea type="text" name="description" id="description" placeholder="Descripción"
                                    title="Descripción"><%= locals.old && old.description  %></textarea>


                                <!-- SELECT DE TEMPORADA -->
                                <label class="label-input-admin" for="season">Temporada:</label>
                                <% if(locals.errors && errors.season){ %>
                                    <small class="error-validator">
                                        <%= errors.season.msg %>
                                    </small>
                                    <% } %>
                                        <div class="container-inserts">
                                            <select onchange="valueChange('deleteSeason',0)" name="season" id="season" title="temporada">
                                                <option hidden selected disabled></option>
                                                <% seasons.forEach(season=> { %>
                                                    <option id="seasonValue" value="<%- season.id %>" <%-locals.old &&
                                                        old.season==season.id ? `selected` : "" %>>
                                                        <%- capitalize(season.name) %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <span class="btn-delete" id="DelSeason">
                                                <small class="fas fa-minus del"></small>
                                            </span>
                                        </div>



                                        <!-- SELECT DE CATEGORÍA -->
                                        <label class="label-input-admin" for="category">Categorias:</label>
                                        <% if(locals.errors && errors.category){ %>
                                            <small class="error-validator">
                                                <%= errors.category.msg %>
                                            </small>
                                            <% } %>

                                                <div class="container-inserts">
                                                    <select name="category" id="category" title="category" onchange="valueChange('deleteCategory',1)">
                                                        <option hidden selected disabled></option>
                                                        <% categories.forEach(category=> { %>
                                                            <option value="<%= category.id %>" <%-locals.old &&
                                                                old.category==category.id ? `selected` : "" %>>
                                                                <%= capitalize(category.name) %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                    <span type="menu" class="btn-delete" id="DelCategoty">
                                                        <small class="fas fa-minus del"></small>
                                                    </span>
                                                </div>

                                                <!-- INPUT DISCOUNT -->
                                                <input type="number" name="discount" id="discount"
                                                    placeholder="Descuento %" title="Descuento"
                                                    value="<%= locals.old && old.discount %>">

                                                <!-- INPUT PRICE -->
                                                <% if(locals.errors && errors.price){ %>
                                                    <small class="error-validator">
                                                        <%= errors.price.msg %>
                                                    </small>
                                                    <% } %>
                                                        <input type="number" name="price" id="price"
                                                            placeholder="Precio" title="Precio"
                                                            value="<%= locals.old && old.price %>">


                                                        <!-- SELECT DE COLOR -->
                                                        <label class="label-input-admin" for="color">Color:</label>
                                                        <% if(locals.errors && errors.color){ %>
                                                            <small class="error-validator">
                                                                <%= errors.color.msg %>
                                                            </small>
                                                            <% } %>
                                                                <div class="container-inserts">
                                                                    <select name="color" id="color" title="color"
                                                                        class="form-control fa" onchange="valueChange('deleteColor',2)">
                                                                        <option hidden selected disabled></option>
                                                                        <% colors.forEach(color=> { %>
                                                                            <option class="fa" value="<%= color.id %>"
                                                                                <%=locals.old && old.color==color.id
                                                                                ? "selected" : "" %>><%=
                                                                                    capitalize(color.name) %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                    <span type="menu" class="btn-delete" id="DelColor">
                                                                        <small class="fas fa-minus del"></small>
                                                                    </span>
                                                                </div>

                                                                <!-- SELECT DE TALLE -->
                                                                <label class="label-input-admin"
                                                                    for="size">Talles:</label>
                                                                <% if(locals.errors && errors.size){ %>
                                                                    <small class="error-validator">
                                                                        <%= errors.size.msg %>
                                                                    </small>
                                                                    <% } %>
                                                                        <select name="size" id="size" title="Talle">
                                                                            <option hidden></option>
                                                                            <% sizes.forEach(size=> { %>
                                                                                <option value="<%- size.id %>"
                                                                                    <%=locals.old && old.size==size.id
                                                                                    ? "selected" : "" %>>
                                                                                    <%- size.name.toUpperCase() %>
                                                                                </option>
                                                                                <% }) %>
                                                                        </select>


                                                                        <!-- INPUT STOCK/CANTIDAD -->
                                                                        <% if(locals.errors && errors.amount){ %>
                                                                            <small class="error-validator">
                                                                                <%= errors.amount.msg %>
                                                                            </small>
                                                                            <% } %>
                                                                                <input type="number" name="amount"
                                                                                    id="stock" placeholder="Cantidad"
                                                                                    title="Stock"
                                                                                    value="<%= locals.old && old.amount %>">


                                                                                <div class="input">
                                                                                    <label for="file-upload"
                                                                                        class="subir"><i
                                                                                            class="fas fa-cloud-upload-alt"></i>
                                                                                        Subir imágenes
                                                                                    </label>

                                                                                    <div id="info" style="margin: 3px;">
                                                                                    </div>


                                                                                    <input name="image" id="file-upload"
                                                                                        onchange='cambiar()' type="file"
                                                                                        style='display: none;' multiple>
                                                                                </div>
                                                                                <div class="button-container">

                                                                                    <button type="reset"
                                                                                        class="btn-reset"><span
                                                                                            class="iconify"
                                                                                            data-icon="whh:broom"></span></button>
                                                                                    <button type="submit"
                                                                                        class="btn-add"><span
                                                                                            class="iconify"
                                                                                            data-icon="fluent:add-12-filled"></span></button>
                                                                                </div>



                                                                                <a href="/admin/products"
                                                                                    class="left-row"><span
                                                                                        class="iconify"
                                                                                        data-icon="bi:arrow-left-square"></span></a>


                    </form>
                    <div class="form-secondary">
                        <form action="/admin/products/addSeason" method="post">
                            <div class="container-addOption">
                                <input type="text" name="seasonInsert" placeholder="Agregar temporada... "
                                    class="input-addOption">
                                <button class="icon-addOption" type="submit">
                                    <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                                </button>
                            </div>
                            <% if(locals.errors && errors.seasonInsert){ %>
                                <small class="error-validator">
                                    <%= errors.seasonInsert.msg %>
                                </small>
                                <% } %>
                        </form>
                        <form action="/admin/products/addCategory" method="post">
                            <div class="container-addOption">
                                <input type="text" name="categoryInsert" placeholder="Agregar categoria... "
                                    class="input-addOption">
                                <button class="icon-addOption" type="submit">
                                    <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                                </button>
                            </div>
                            <% if(locals.errors && errors.categoryInsert){ %>
                                <small class="error-validator">
                                    <%= errors.categoryInsert.msg %>
                                </small>
                                <% } %>
                        </form>
                        <form action="/admin/products/addColor" method="post">
                            <div class="container-addOption">
                                <input type="text" name="colorInsert" placeholder="Agregar color... "
                                    class="input-addOption">
                                <button class="icon-addOption" type="submit">
                                    <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                                </button>
                            </div>
                            <% if(locals.errors && errors.colorInsert){ %>
                                <small class="error-validator">
                                    <%= errors.colorInsert.msg %>
                                </small>
                                <% } %>
                        </form>
                    </div>
                    <form id="formDelSeason" method="post" style="display: none;" class="formDelete">
                        <p style="text-align: center;">Esta seguro de eliminar esta información</p>
                        <button type="submit" class="btn-windowDel">Aceptar
                        </button>
                            <span style="color: black;box-shadow: none;width:50%;" onclick="closeWindowDel()">Cancelar</span>
                    </form>
                    <div class="windowGeneral" onclick="closeWindowDel2()"></div>


                </div>

            </main>

    </body>

</html>