<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>
            <main class="admin">

                <div class="container">
                    <form action="/admin/products/add" method="POST" class="inputRows" enctype="multipart/form-data">

                        <input type="text" name="name" id="name" placeholder="Nombre" title="nombre">

                        <textarea type="text" name="description" id="description" placeholder="Descripción"
                            title="Descripción"></textarea>

                        <!-- SELECT DE TEMPORADA -->
                        <select name="season" id="season" title="temporada">
                            <option selected hidden value="--">Temporada</option>
                            <option value="invierno">Invierno</option>
                            <option value="verano">Verano</option>
                            <option value="otonio">Otoño</option>
                            <option value="primavera">Primavera</option>
                        </select>

                        <!-- SELECT DE CATEGORÍA -->
                        <select name="category" id="category" title="category">
                            <option selected hidden value="--">Categorías</option>
                            <% categories.forEach(category=>{ %>
                                <option value="<%= category %>">
                                    <%= capitalize(category) %>
                                </option>
                                <% }) %>
                        </select>


                        <input type="number" name="discount" id="discount" placeholder="Descuento %" title="Descuento">


                        <input type="number" name="price" id="price" placeholder="Precio" title="Precio">


                        <!-- SELECT DE COLOR -->
                        <select name="color" id="color" title="color">
                            <option selected hidden value="--">Color</option>
                            <% colors.forEach(color=>{ %>
                                <option value="<%= color ? color.toLowerCase():"--" %>">
                                    <%= capitalize(color) %>
                                </option>
                                <% }) %>

                        </select>

                        <div action="admin/products/add" method="POST" class="container-addColor">
                            <input type="text" name="addColor" placeholder="Agregar color... " class="input-addColor" id="input-addColor">
                            <div class="icon-addColor" onclick="addColor()">
                                <span class="iconify " data-icon="ant-design:appstore-add-outlined"
                                    ></span>
                            </div>
                        </div> 

                        <!-- SELECT DE TALLE -->
                        <select name="size" id="size" title="Talle">
                            <option selected hidden value="--">Talle</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>

                        <input type="number" name="stock" id="stock" placeholder="Cantidad" title="Stock">


                        <div class="input">
                            <label for="file-upload" class="subir">
                                <i class="fas fa-cloud-upload-alt"></i> Subir imágenes
                            </label>
                            <div id="info" style="margin: 3px;"></div>


                            <input name="image" id="file-upload" onchange='cambiar()' accept=".png, .jpg" type="file"
                                style='display: none;' multiple>
                        </div>

                        <button type="submit" class="btn-add"><span class="iconify"
                                data-icon="fluent:add-12-filled"></span></button>
                        <button type="reset" class="btn-reset"><span class="iconify"
                                data-icon="whh:broom"></span></button>

                        <a href="/admin/products" class="left-row"><span class="iconify"
                                data-icon="bi:arrow-left-square"></span></a>


                    </form>

                </div>

            </main>

    </body>

</html>