<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ʆᵒᵛᵉʆᵒᵒᵏ</title>
    
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
        <!-- ICONIFY -->
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/general.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <!-- SCRIPTS -->
        
        
        <script src="/js/admin.js" defer></script>
        <script src="/js/load.js"></script>
    
        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

<body>
    <%- include('../partials/load.ejs') %>
    <%- include('../partials/headerAdmin.ejs') %>
    <main class="admin">
        <h2 class="mt-4 text-center">Agregar un producto</h2>
        <div class="container">
            <form action="/admin/products/add" method="post" class="inputRows" enctype="multipart/form-data"
                id="productForm">

                <!-- INPUT NAME -->
                <input type="text" name="name" value="<%= locals.old && old.name %>" id="name" placeholder="Nombre"
                    title="nombre">
                <% if(locals.errors && errors.name){ %>
                <small class="error-validator">
                    <%= errors.name.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorName">
                </small>

                <!-- TEXTAREA DESCRIPTION -->
                <textarea type="text" name="description" id="description" placeholder="Descripción"
                    title="Descripción"><%= locals.old && old.description  %></textarea>

                <% if(locals.errors && errors.description){ %>
                <small class="error-validator">
                    <%= errors.description.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorDescription">
                </small>

                <!-- SELECT DE TEMPORADA -->
                <div class="container-inserts">
                    <select onchange="valueChange('deleteSeason',0)" name="season" id="season" title="temporada">
                        <option value="" hidden selected>Temporada</option>
                        <% seasons.forEach(season=> { %>
                        <option id="seasonValue" value="<%- season.id %>" <%-locals.old && old.season==season.id ? `selected` : "" %>>
                            <%- capitalize(season.name) %>
                        </option>
                        <% }) %>
                    </select>
                    <span class="btn btn-danger ml-10" id="DelSeason">
                        <small class="fas fa-minus del"></small>
                    </span>
                </div>
                <% if(locals.errors && errors.season){ %>
                <small class="error-validator">
                    <%= errors.season.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorSeason">
                </small>

                <!-- SELECT DE CATEGORÍA -->
                <div class="container-inserts">
                    <select name="category" id="category" title="category" onchange="valueChange('deleteCategory',1)">
                        <option value="" hidden selected>Categoría</option>
                        <% categories.forEach(category=> { %>
                        <option value="<%= category.id %>" <%-locals.old && old.category==category.id ? `selected` : "" %>>
                            <%= capitalize(category.name) %>
                        </option>
                        <% }) %>
                    </select>
                    <span type="menu" class="btn btn-danger" id="DelCategoty">
                        <small class="fas fa-minus del"></small>
                    </span>
                </div>
                <% if(locals.errors && errors.category){ %>
                <small class="error-validator">
                    <%= errors.category.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorCategory">
                </small>



                <!-- INPUT DISCOUNT -->
                <input type="number" name="discount" id="discount" placeholder="Descuento %" title="Descuento"
                    value="<%= locals.old && old.discount %>">

                <!-- INPUT PRICE -->
                <input type="number" name="price" id="price" placeholder="Precio" title="Precio"
                    value="<%= locals.old && old.price %>">
                <% if(locals.errors && errors.price){ %>
                <small class="error-validator">
                    <%= errors.price.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorPrice">
                </small>



                <!-- SELECT DE COLOR -->
                <div class="container-inserts">
                    <select name="color" id="color" title="color" class="form-control fa"
                        onchange="valueChange('deleteColor',2)">
                        <option value="" hidden selected>Color</option>
                        <% colors.forEach(color=> { %>
                        <option class="fa" value="<%= color.id %>" <%=locals.old && old.color==color.id ? "selected" : "" %>><%= capitalize(color.name) %>
                        </option>
                        <% }) %>
                    </select>
                    <span type="menu" class="btn btn-danger" id="DelColor">
                        <small class="fas fa-minus del"></small>
                    </span>
                </div>
                <% if(locals.errors && errors.color){ %>
                <small class="error-validator">
                    <%= errors.color.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorColor">
                </small>


                <!-- SELECT DE TALLE -->
                <select name="size" id="size" title="Talle">
                    <option value="" hidden selected>Talle</option>
                    <% sizes.forEach(size=> { %>
                    <option value="<%- size.id %>" <%=locals.old && old.size==size.id ? "selected" : "" %>>
                        <%- size.name.toUpperCase() %>
                    </option>
                    <% }) %>
                </select>
                <% if(locals.errors && errors.size){ %>
                <small class="error-validator">
                    <%= errors.size.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorSize">
                </small>



                <!-- INPUT STOCK/CANTIDAD -->
                <input type="number" name="amount" id="stock" placeholder="Cantidad" title="Stock"
                    value="<%= locals.old && old.amount %>">
                <% if(locals.errors && errors.amount){ %>
                <small class="error-validator">
                    <%= errors.amount.msg %>
                </small>
                <% } %>
                <small class="error-validator" id="errorStock">
                </small>



                <div class="input">
                    <label for="file-upload" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i>
                        Subir imágenes
                    </label>

                    <div id="info" style="margin: 3px;">
                    </div>


                    <input name="image" id="file-upload" onchange='cambiar()' type="file" style='display: none;'
                        multiple>
                    <% if(locals.errors && errors.image){ %>
                    <small class="error-validator">
                        <%= errors.image.msg %>
                    </small>
                    <% } %>
                    <small class="error-validator" id="errorFileUpload">
                    </small>
                </div>
                <div class="button-container">

                    <button type="reset" class="btn btn-danger"><span class="iconify" data-icon="whh:broom"></span></button>
                    <button type="submit" class="btn btn-success"><span class="iconify"
                            data-icon="fluent:add-12-filled"></span></button>
                </div>



                <a href="/admin/products" class="btn btn-secondary mt-4 w-100"><span class="iconify f-2"
                        data-icon="bi:arrow-left-square"></span></a>
                <small class="error-validator" id="errorAddProductForm">
                </small>
            </form>

            <div class="form-secondary">
                <form action="/admin/products/addSeason" method="post" id="formAddSeason">
                    <div class="container-addOption">
                        <input type="text" name="seasonInsert" placeholder="Agregar temporada... "
                            class="input-addOption" id="seasonInsert">
                        <button class="btn btn-success" type="submit">
                            <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                        </button>
                    </div>
                    <% if(locals.errors && errors.seasonInsert){ %>
                    <small class="error-validator">
                        <%= errors.seasonInsert.msg %>
                    </small>
                    <% } %>
                    <small class="error-validator" id="errorSeasonInsert">
                    </small>
                </form>
                <form action="/admin/products/addCategory" method="post" id="formAddCategory">
                    <div class="container-addOption">
                        <input type="text" name="categoryInsert" placeholder="Agregar categoria... "
                            class="input-addOption" id="categoryInsert">
                        <button class="btn btn-success" type="submit">
                            <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                        </button>
                    </div>
                    <% if(locals.errors && errors.categoryInsert){ %>
                    <small class="error-validator">
                        <%= errors.categoryInsert.msg %>
                    </small>
                    <% } %>
                    <small class="error-validator" id="errorCategoryInsert">
                    </small>
                </form>
                <form action="/admin/products/addColor" method="post" id="formAddColor">
                    <div class="container-addOption">
                        <input type="text" name="colorInsert" placeholder="Agregar color... " class="input-addOption"
                            id="colorInsert">
                        <button class="btn btn-success" type="submit">
                            <span class="iconify " data-icon="ant-design:appstore-add-outlined"></span>
                        </button>
                    </div>
                    <% if(locals.errors && errors.colorInsert){ %>
                    <small class="error-validator">
                        <%= errors.colorInsert.msg %>
                    </small>
                    <% } %>
                    <small class="error-validator" id="errorcolorInsert">
                    </small>
                </form>
            </div>
            <form id="formDelSeason" method="post" style="display: none;" class="formDelete">
                <p style="text-align: center;">Esta seguro de eliminar esta información</p>
                <button type="submit" class="btn-windowDel">Aceptar
                </button>
                <span style="color: black;box-shadow: none;width:50%;" onclick="closeWindowDel()">Cancelar</span>
            </form>
            <div class="windowGeneral" onclick="closeWindowDel2()"></div>


        </div>

    </main>
    <script src="/js/addProductValidator.js"></script>
</body>

</html>