<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>

            <main class="admin">
                <h2>Productos</h2>
                <div class="container">

                    <form action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="inputRows">
                        <input type="text" name="name" id="name" title="nombre" value="<%- product.name %>">

                        <input type="text" name="description" id="description" title="Descripción" value="<%- product.description %>">


                        <!-- SELECT DE TEMPORADA -->
                        <select name="season" id="season" title="temporada">
                            <option selected hidden>Temporada</option>
                            <% seasons.forEach(season => { %>
                                <option value="<%- season %>" <%-season == product.season ? `selected` : ""  %>><%- season %></option>
                             <% }) %>
                        </select>

                        <!-- SELECT DE CATEGORÍA -->
                        <select name="category" id="category" title="category">
                            <option selected hidden><%- product.category %></option>
                            <% categories.forEach(category => { %>
                                <option value="<%- category %>" ><%- category %></option>
                             <% }) %>
                        </select>


                        <input type="number" name="discount" id="discount" title="Descuento" value="<%- product.discount %>">


                        <input type="number" name="price" id="price" title="Precio" value="<%- product.price %>">


                        <!-- SELECT DE COLOR -->
                        <select name="color" id="color" title="color">
                            <option selected hidden>Color</option>
                            <% colors.forEach(color => { %>
                                <option value="<%- color %>" <%-color == product.color ? `selected` : ""  %>><%- color %></option>
                             <% }) %>
                        </select>

                        <!-- SELECT DE TALLE -->
                        <select name="size" id="size" title="Talle">
                            <option selected hidden>Talle</option>
                            <% sizes.forEach(size => { %>
                                <option value="<%- size %>" <%-size == product.size ? `selected` : ""  %>><%- size %></option>
                             <% }) %>
                        </select>

                        <input type="number" name="stock" id="stock" title="Stock" value="<%- product.stock %>">


                        <div class="input">
                            <label for="file-upload" class="subir">
                                <i class="fas fa-cloud-upload-alt"></i> Subir imágenes
                            </label>
                            <div id="info" style="margin: 3px;"></div>


                            <input name="image" id="file-upload" onchange='cambiar()' accept=".png, .jpg" type="file"
                                style='display: none;'>
                        </div>

                            <input name="image" id="file-upload" onchange='cambiar()' accept=".png, .jpg" type="file"
                                style='display: none;' multiple>
                        </div>
                        <button type="submit" class="btn-add"><span class="iconify"
                                data-icon="ant-design:save-outlined"></span></button>


                        <a href="/admin/products" class="left-row"><span class="iconify"
                                data-icon="bi:arrow-left-square"></span></a>


                    </form>

                </div>

            </main>
    </body>

</html>