<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/headerAdmin.ejs') %>
            <main class="admin">
                <h2 style="text-align: center;">Productos</h2>
                <div class="button-add">
                    <a href="/admin/products/add"><span class="iconify" data-icon="fluent:add-12-filled">
                        </span>Agregar Productos</a>
                </div>
                <div class="table-container">
                    <table>
                        <div class="icons-guie-scroll">
                            <div class="icon-touch">
                                <span class="iconify" data-icon="carbon:touch-interaction">
                                </span>
                            </div>
                            <div class="icon-right-table">
                                <span class="iconify" data-icon="akar-icons:arrow-right">
                                </span>
                            </div>
                        </div>
                        <tr>
                            <th scope="col">Edición</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Código</th>
                            <th scope="col">Colores</th>
                            <th scope="col">Talle</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Temporada</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                        <% products.forEach(product=>{ %>
                            <tr id="<%= product.id %>">
                                <td>
                                    <a class="edit" role="button" href="/admin/products/edit/<%- product.id %>">
                                        <span class="iconify" data-icon="line-md:edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <%= product.price ? `$${toThousand(product.price)}` : "--" %>
                                        <!-- PRECIO -->
                                </td>
                                <td>
                                    <img class="img-value" src="/img/photos/<%= product.images.length>0? product.images[0].filename:'default.png' %>" alt=""> 
                                    <!-- IMAGEN -->
                                </td>
                                <td>
                                    <%= product.name %>
                                        <!-- NOMBRE -->
                                </td>
                                <td>
                                    <%= product.discount ? `${product.discount}%` : "--" %>
                                        <!-- DESCUENTO -->
                                </td>
                                <td class="description-cell">
                                    <%= product.description ? `${product.description}` : "--" %>
                                        <!-- DESCRIPCIÓN -->
                                </td>
                                <td>
                                    <%=product.id %>
                                        <!-- CODIGO -->
                                </td>
                                <td>
                                    <% product.colors.forEach(color=>{ %> 
                                    <%=color.name.toUpperCase()%>,<br>
                                    <% }) %> 
                                        <!-- COLOR -->
                                </td>
                                <td>
                                    <% product.sizes.forEach(size=>{ %> 
                                        <%=size.name.toUpperCase()%>
                                        <% }) %> 
                                        <!-- TALLE -->
                                </td>
                                <td>
                                    <%=product.amount %>
                                        <!-- CANTIDAD -->
                                </td>
                                <td>
                                    <%=product.season.name %>
                                        <!-- TEMPORADA -->
                                </td>
                                <td>
                                    <%=product.category.name %>
                                        <!-- CATEGORÍA -->
                                </td>
                                <td>
                                    <form action="/admin/products/eliminarProducto/<%= product.id %>?_method=DELETE"
                                        method="POST">
                                        <!-- ?? -->
                                        <button class="delete" type="submit">
                                            <span class="iconify" data-icon="feather:delete">
                                            </span>
                                        </button>
                                    </form>

                                </td>
                            </tr>
                            <% }) %>
                    </table>
            </main>

    </body>

</html>