<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ʆᵒᵛᵉʆᵒᵒᵏ</title>
    
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
        <!-- ICONIFY -->
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/general.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <!-- SCRIPTS -->
        
        
        <script src="/js/admin.js" defer></script>
        <script src="/js/load.js"></script>
        <script src="/js/endPage.js" defer></script>
    
        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>
        <%- include('../partials/load.ejs') %>
        <%- include('../partials/headerAdmin.ejs') %>
            <main class="admin">
                <h2 class="mt-4 text-center">Mensajes</h2>
                <div class="table-container">
                    <table class="table table-striped">
                        <div class="icons-guie-scroll">
                            <div class="icon-touch">
                                <span class="iconify" data-icon="carbon:touch-interaction">
                                </span>
                            </div>
                            <div class="icon-right-table">
                                <span class="iconify" data-icon="akar-icons:arrow-right">
                                </span>
                            </div>
                        </div>
                        <tr>
                            <th scope="col">Asunto</th>
                            <th scope="col">Mensaje</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Curriculum</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Localidad</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">CUIT</th>
                            <th scope="col">Razon social</th>
                            <th scope="col">Dirección social</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                        <% messages.forEach(message=>{ %>
                            <tr id="<%= message.id %>">
                    
                                <td>
                                    <%= message.issue%>
                                     
                                </td>
                                <td>
                                    <%= message.msg%>
                                       
                                </td>
                                <td>
                                    <%= message.name%>
                                        
                                </td>
                                <td>
                                    <%= message.lastName%>
                                        
                                </td>
                                <td>
                                    <%= message.dni%>
                                        
                                </td>
                                <td>
                                    <%= message.email%>
                                        
                                </td>
                                <td>
                                    <%= message.phone%>
                                       
                                </td>
                                
                                <td>
                                    <a class="img-value" href="/CV/<%=message.cv%>" target="_blank" style="color:blue;margin-top: 20px"><%=message.cv%></a>
                                </td>
                                <td>
                                    <%= message.province %>
                                       
                                </td>
                                <td>
                                    <%= message.location %>
                                      
                                </td>
                                <td>
                                    <%= message.address %>
                                        
                                </td>
                                <td>
                                    <%= message.cuit %>
                                       
                                </td>
                                <td>
                                    <%= message.businessName%>
                                       
                                </td>
                                <td>
                                    <%= message.socialLocation%>
                                       
                                </td>
                                <td>
                                    <form action="/admin/messages/delete/<%= message.id %>?_method=DELETE"
                                        method="POST">
                                        
                                        <button class="delete" type="submit">
                                            <span class="iconify" data-icon="feather:delete">
                                            </span>
                                        </button>
                                    </form>

                                </td>
                            </tr>
                            <% }) %>
                    </table>
                    <a class="endPage"><i class="fas fa-arrow-down"></i></a>
            </main>

    </body>

</html>