<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %>
<<<<<<< HEAD
 
    
     <!--Terminos y condiciones-->
=======
     
>>>>>>> 3308c66bb7d369246292ce206264bb33e2ed9a26

    <main>

        <%- include('./partials/whatsapp.ejs') %> 

        <%- include('./partials/footer.ejs') %> 

</body>

</html>