<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %>
 
    
     <!--Terminos y condiciones-->

     <div class="col-sm-12 col-xs-12 nopadding text-center pt20" style="background-color: #ededed">
        <p class="f-bold mb10 t-color f-13 text-center" style="color_: #d26879;">Políticas de privacidad</p>
    </div>
    <div>
        <div class="pl-15 pr-15 f-13" id="termMobile">
            <p class="f-bold mb10 mt10" style="padding-top: 80px;">INFORMACION GENERAL</p>
            <p>
                "Al registrarte, ingresaste en www.Lovelook.com.ar algunos datos personales. Tu información personal se procesa y almacena en servidores que cumplen con altos estándares internacionales de seguridad. Lovelook (Lovelook S.A) está inscripto en el “Programa de protección de bases de datos personales” coordinado por el Ministerio de Justicia de la República Argentina, lo que demuestra y garantiza nuestro compromiso por brindarte la máxima calidad en el manejo y protección de tus datos personales."
            </p>
            <p class="f-bold mb10 mt10">Que Datos Guardamos?</p>
            <p>- Nombre</p>
            <p>- Apellido</p>
            <p>- Fecha De Ncimiento</p>
            <p>- Email</p>
            <p>- Direccion De Entrega</p>
            <p>- Historial De Compra</p>
            <p class="f-bold mb10 mt10">Porque Guardamos Estos Datos?</p>
            <p>-Identificar quien realizo la compra</p>
            <p>"- Procesar, validar, confirmar verificar y enviar los pedidos realizados en el sitio web"</p>
            <p>"-Comunicar promociones, eventos y cambios en la politica de nuestro sitio web"</p>
            <p class="f-bold mb10 mt10">Como Eliminar Tus Datos?</p>
            <p>
                En el caso de que quieras cerrar tu cuenta y que eliminemos todos los datos correspondientes a la misma, podés hacerlo solicitando la baja de tu usuario a call@lovelook.com.ar
            </p>
            <p class="f-bold mb10 mt10">Proteccion De Datos Personales</p>
            <p>Todos los datos de nuestros clientes están seguros, los mismos están almacenados en servidores externos preparados para la protección de la información mediante sistemas de encriptación de datos. Nosotros no vendemos, alquilamos o distribuimos los datos personales de nuestros clientes.</p>
            <p class="f-bold mb10 mt10">Informacion De Tarjetas De Credito</p>
            <p>Nuestro sitio web no almacena datos de tarjetas de crédito, todos nuestros pagos son procesados en plataformas de pagos especializadas (MercadoPago Agregador y MercadoPago Gateway) Estos mismo cumplen con las normas de PCI Compliance.</p>
        </div>
    </div>
    <div class="container-stores p0">
        <span>Nuestros locales</span>
        <ul class="store__list-item map-pick map-shop hidden-md hidden-lg">
            <li class="store__list-item" id="list_65">
                <div class="container-stores p0">
                    <p class="tittlef-bold mb0">
                        Portales De Buenos Aires
                    </p>
                    <p class="location mb0">
                        Vedia 3600, Buenos Aires
                    </p>
                    <p class="shedules mb0">
                        0800-222-2299
                    </p>
                    <p class="f-13 location">
                        Lunes a Domingo de 8 a 00hs
                    </p>
                </div>
            </li>
            <li class="store__list-item" id="list_30">
                <div class="container-stores p0">
                    <p class="tittlef-bold mb0">
                        Portales De Buenos Aires
                    </p>
                    <p class="location mb0">
                        Av. Corrientes 3247, Buenos Aires
                    </p>
                    <p class="shedules mb0">
                        0800-222-2299
                    </p>
                    <p class="f-13 location">
                        Lunes a Domingo de 11 a 00hs
                    </p>
                </div>
            </li>
        </ul>
    </div> 
    <main>

        <%- include('./partials/whatsapp.ejs') %> 

        <%- include('./partials/footer.ejs') %> 

</body>

</html>