<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %> 
    
    
    <main class="home-inicio">
                <!-- CAROUSEL -->
                <%- include('./partials/carousel.ejs') %> 
                
                <!-- END CAROUSEL -->
                    
                        <%- include ('./partials/slider.ejs') %> 
                <!--Imagenes-->

                <div class="container-fluid">
                        <div class="cajaPrincipal">
                            <div class="imagen1">
                                <img src="/img/foto3.jpg" alt="">
                            </div>
                            <div class="imagen1">
                                <img src="/img/foto4.jpg" alt="">
                            </div>
                    </div>
                </div>

                <!--Final de imagenes-->

                <!--Comienzo de videos-->
                <div class="container">
                        <div class="cajavideo">
                            <div class=" video1">
                                <video src="/img/video1.mp4" controls autoplay muted loop></video>
                            </div>
                            <div class=" video1">
                                <video src="/img/video2.mp4" controls autoplay muted loop></video>
                            </div>
                        </div>
                </div>

            </main>
            <!--Final de videos-->
            <%- include('./partials/whatsapp.ejs') %>

                <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>

                


                    

    </body>

</html>