<div class="container"><!--  -->
  <div class="card-slider">
    <% products.forEach(product => { %>
      <div class="col-lg-12">
        <div class="card w-100">
          <a href="/products/detail/<%= product.id %>" style="display: block;">
            <img class="card-img-top" src="/img/photos/<%= product.images.length > 0? product.images[0].filename:'default.png' %>">
          </a>
          <div class="card-body">
            <h5 class="nameSlider">
              <%= product.name %>
            </h5>
            <p class="priceSlider">$
              <%=toThousand(Math.round(product.price - product.price * product.discount /
                  100))%>
          </p>
            <span class="priceDiscount">
              <%= product.discount> 0?`$${toThousand(Math.round(product.price))}` : "" %>
          </span>
          <p class="discount">
              <%=product.discount> 0?`${product.discount} %Off` : "" %>
          </p>
            <a href="/user/cart" class="btn-primary agregar-carrito">Comprar</a>
            
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>