
  <!--  -->
  <div class="card-slider" id="lista-productos">
    <% products.forEach(product => { %>
    <div class="col-lg-12" >
      <div class="card w-100">
        <a
          href="/products/detail/<%= `${product.id}/${product.categoryId}`%>"
          style="display: block"
          data-id="<%= product.id%>"
        >
          <img
            class="card-img-top"
            src="/img/photos/<%= product.images.length > 0? product.images[0].filename:'default.png' %>"
          />
        </a>
        <div class="card-body">
          <h5 class="nameSlider"><%= product.name %></h5>
          <div class="prices-section">
            <p class="priceSlider price">
              $ <%=toThousand(Math.round(product.price - product.price *
              product.discount / 100))%>
            </p>
            <span class="priceDiscount">
              <%= product.discount>
              0?`$${toThousand(Math.round(product.price))}` : "" %>
            </span>
          </div>

          <p class="discount">
            <%=product.discount> 0?`${product.discount} %Off` : "" %>
          </p>
          <div class="clientAction">
            <span href="/user/cart" class="btn-primary"
              ><i class="fas fa-shopping-basket"></i
            ></span>
            <span
              href=""
              class="btn-primary agregar-carrito"
              title="agregar al carrito"
              ><i class="fas fa-cart-plus"></i
            ></span>
            <span
              href=""
              class="btn-primary"
              ><i class="far fa-heart"></i
            ></span>
            <!-- "fas fa-heart" para cuando esta seleccionado -->
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>


