<!--  -->
<div class="card-slider" id="lista-productos">
  <% products.forEach(product=> { %>
    <div class="col-lg-12">
      <div class="card w-100">
        <a href="/products/detail/<%= `${product.id}/${product.categoryId}`%>" style="display: block"
          data-id="<%= product.id%>">
          <img class="card-img-top"
            src="/img/photos/<%= product.images.length > 0? product.images[0].filename:'default.png' %>" />
        </a>
        <div class="card-body">
          <h5 class="nameSlider">
            <%= product.name %>
          </h5>
          <div class="prices-section">
            <p class="priceSlider price">
              $ <%=toThousand(Math.round(product.price - product.price * product.discount / 100))%>
            </p>
            <span class="priceDiscount">
              <%= product.discount>
                0?`$${toThousand(Math.round(product.price))}` : "" %>
            </span>
          </div>

          <p class="discount">
            <%=product.discount> 0?`${product.discount} %Off` : "" %>
          </p>

          <!-- botones de acciones -->
          <div class="clientAction">


            <!-- AGREGAR AL CARRITO -->
            <span href="" class="btn-primary agregar-carrito text-dark" id="AddCartSlider"><i
                class="fas fa-cart-plus"></i></span>

            <!-- FAVORITO -->
            <span href="" class="btn-primary agregar-favoritos" id="AddFavoriteSlider"><i
                class="far fa-heart"></i></span>


            <!-- "fas fa-heart" para cuando esta seleccionado -->
          </div>
        </div>
      </div>
    </div>
    <% }) %>
</div>


<!-- TOOLTIP AGREGAR AL CARRITO-->
<script>
  tippy('#AddCartSlider', {
    content: "Agregar al carrito",
    animation: 'fade',
    placement: 'top-end',
    duration: 200,
  });
</script>
<!-- TOOLTIP AGREGAR A FAVORITO-->

<script>
  tippy('#AddFavoriteSlider', {
    content: "Agregar a favoritos",
    animation: 'fade',
    placement: 'top-start',
    duration: 200,
  });
</script>