<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs')%>

    <body>
              <%- include('../partials/header.ejs')%>

                <div class="login">

                    <form action="/user/login" method="POST" class="card modal-content">
                      <figure class="card__thumbnail">
                        <img src="/img/logo.png" alt="" class="card__logo">
                      </figure>
                      <input class="card__input input--style" type="email" name="email" placeholder="Ingresa tu email" value="<%= (locals.old && old.email) ? old.email : '' %>">
                      <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                      <% } %>
                  
                      <input class="card__input input--style" type="password" name="pass" placeholder="Ingresa tu contraseña" value="<%= (locals.old && old.pass) ? old.pass : '' %>">
                      <% if (locals.errors && errors.pass) { %>
                        <small class="text-danger"><%= errors.pass.msg %> </small>
                      <% } %>
                  
                      <div style="display: flex;align-items: center;">
                        <input class="input__check" type="checkbox" name="remember" id="remember">
                        <label class="check__label" for="remember">Recordarme</label>
                      </div>
                      
                      <% if (locals.errorMsg ) { %>
                        <small class="text-danger"><%= errorMsg %> </small>
                      <% } %>

                      <a href="/undefined" class="card__enlace">
                        <span class="card__text">¿Olvide mi contraseña?</span>
                      </a>
                      
                      <button type="submit" class="button button--positionRegister">
                        INGRESAR
                      </button>
                      <a href="/user/register" class="button button--positionRegister">REGISTRARSE</a>
                    </form>
                  
                  </div>
                  
                  </div>

                    <%- include('../partials/whatsapp.ejs') %>
                        <%- include('../partials/footer.ejs') %>
                            <%- include('../partials/scripts.ejs') %>




    </body>

</html>