<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs')%>

<body>
  <%- include('../partials/load.ejs') %>
  <%- include('../partials/header.ejs')%>

  <div class="login">

    <form action="/user/login" method="POST" class="card modal-content" id="loginForm">
      <figure class="card__thumbnail">
        <img src="/img/logo.png" alt="" class="card__logo">
      </figure>
      <input class="card__input input--style" type="text" id="email" name="email" placeholder="Ingresa tu email"
        value="<%= locals.old && old.email %>">
      
      <small class="error-validator" id="errorEmail">
        <%= (locals.errors && errors.email) ? errors.email.msg : "" %>
      </small>

      <input class="card__input input--style" type="password" id="password" name="password"
        placeholder="Ingresa tu contraseña">
      <% if (locals.errors && errors.password) { %>
      <small class="text-danger"><%= errors.password.msg %> </small>
      <% } %>
      <small class="error-validator" id="errorPassword">
      </small>
      <a href="/user/forgetPass" class="card__enlace">
        <span class="card__text">¿Olvidé mi contraseña?</span>
      </a>
      <div style="display: flex;align-items: center;">
        <input class="input__check" type="checkbox" name="remember" id="remember">
        <label class="check__label" for="remember">Recordarme</label>
      </div>

      <% if (locals.errorMsg ) { %>
      <small class="text-danger"><%= locals.errorMsg %> </small>
      <% } %>

    
      <button type="submit" class="button button--positionRegister">
        INGRESAR
      </button>
      <a href="/user/register" class="button button--positionRegister">REGISTRARSE</a>
      <small class="error-validator" id="errorLoginForm">
      </small>
      <!-- LOGIN FACEBOOK -->
      <a href="/user/auth/facebook" class="facebook"><i class="fab fa-facebook-f"></i><span>Continuar con Facebook</span></a> 
        <!-- LOGIN GOOGLE -->
       <a href="/user/auth/google" class="google"><img src="/img/google.png" alt=""><span>Continuar con Google</span></a> 


       
    </form>

  </div>

  </div>
  <%- include('../partials/whatsapp.ejs') %>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>

  <script src="/js/login.js"></script>

</body>

</html>