<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
<<<<<<< HEAD
=======
        <%- include('../partials/load.ejs') %>
>>>>>>> dfa5784422ee870b2bce0d0ed50d107006d40ab1
        <%- include('../partials/header.ejs') %>

            <form action="" class="perfil-user">



                <div class="image-container">
                    <label class="label-perfil-user img-label" for="examinar"><span class="iconify"
                            data-icon="carbon:add-filled" style="display: none;"></span></label>
                    <input class="input-perfil-user" type="file" name="avatar" id="examinar" hidden>
                    
                    <img class="image-view" src="/img/user/userAvatars/<%= user.avatar %>" alt="">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="nombre">Nombre: </label>
                    <input class="input--style input-perfil-user" type="text" name="nombre" id="nombre" value="<%= user.firstName %>">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="apellido">Apellido: </label>
                    <input class="input--style input-perfil-user" type="text" name="apellido" id="apellido" value="<%= user.lastName %>">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="email">Email: </label>
                    <input class="input--style input-perfil-user" type="email" name="email" id="email" value="<%= user.email %>">
                </div>
                
                <div class="container">
                    <label class="label-perfil-user" for="telefono">Teléfono: </label>
                    <input class="input--style input-perfil-user" type="tel" name="telefono" id="telefono" value="<%= user.phone ? user.phone : "------" %>">
                </div>
                 
                    <div class="container">
                        <label class="label-perfil-user" for="direccion">Dirección: </label>
                        <input class=" input--style input-perfil-user" type="text" name="direccion" id="direccion" value="<%= user.location != null && user.location.address ? user.location.address : "------" %>">
                    </div>
                    
                    <div class="container">
                        <label class="label-perfil-user" for="city">Ciudad: </label>
                        <input class=" input--style input-perfil-user" type="text" name="city" id="city" value="<%= user.location != null && user.location.city ? user.location.city : "------" %>">
                    </div>
                    
                <div class="container">
                    <label class="label-perfil-user" for="cp">Codigo Postal: </label>
                    <input class=" input--style input-perfil-user" type="number" name="cp" id="cp" value="<%= user.location != null && user.location.pc ? user.location.pc : "------" %>">
                </div>
            
                <div class="container">
                    <label class="label-perfil-user" for="province">Provincia: </label>
                    <input class=" input--style input-perfil-user" type="text" name="province" id="province" value="<%= user.location != null && user.location.province ? user.location.province : "------" %>">
                </div>
<<<<<<< HEAD
=======

            <% }) %>
            <% } %>
>>>>>>> dfa5784422ee870b2bce0d0ed50d107006d40ab1
                <a href="/user/profile/edit/<%= user.id %>" class="changesButton">EDITAR DATOS</a>

            </form>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>