<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs', {categorias}) %>

            <form action="" class="perfil-user">



                <div class="image-container">
                    <label class="label-perfil-user img-label" for="examinar"><span class="iconify"
                            data-icon="carbon:add-filled"></span></label>
                    <input class="input-perfil-user" type="file" name="avatar" id="examinar" hidden>
                    <div class="image-view" id="imagePreview"></div>
                </div>





                <div class="container">
                    <label class="label-perfil-user" for="nombre">Nombre: <%= user.name %></label>
                    <input class="input--style input-perfil-user" type="text" name="nombre" id="nombre">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="apellido">Apellido: <%= user.last_name %></label>
                    <input class="input--style input-perfil-user" type="text" name="apellido" id="apellido">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="direccion">Dirección: <%= user.address ? user.address : "------" %></label>
                    <input class=" input--style input-perfil-user" type="text" name="direccion" id="direccion">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="email">Email: <%= user.email %></label>
                    <input class="input--style input-perfil-user" type="email" name="email" id="email">
                </div>
                
                <div class="container">
                    <label class="label-perfil-user" for="telefono">Teléfono: <%= user.tel ? user.tel : "------" %></label>
                    <input class="input--style input-perfil-user" type="tel" name="telefono" id="telefono">
                </div>

                <a href="/users/profile/edit/<%= user.id %>" class="btn btn-ad-primary">EDITAR DATOS</a>

            </form>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>