<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/load.ejs') %>
        <%- include('../partials/header.ejs') %>

            <form action="" class="perfil-user">

                

                <div class="image-container">
                   
                    <input class="input-perfil-user" type="file" name="avatar" id="examinar" hidden>
                    
                    <img class="image-view" <%=user.social_provider != "google" ? `src=/img/user/userAvatars/${session.user.avatar}` : `src=${session.user.avatar}` %> alt="">
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="nombre">Nombre: </label>
                    <input class="input--style input-perfil-user" type="text" name="name" id="nombre" value="<%= session.user.firstName %>" disabled>
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="apellido">Apellido: </label>
                    <input class="input--style input-perfil-user" type="text" name="last_name" id="apellido" value="<%= session.user.lastName %>" disabled>
                </div>

                <div class="container">
                    <label class="label-perfil-user" for="email">Email: </label>
                    <input class="input--style input-perfil-user" type="email" name="email" id="email" value="<%= session.user.email != null && session.user.email %>" disabled>
                </div>
                
                <div class="container">
                    <label class="label-perfil-user" for="telefono">Teléfono: </label>
                    <input class="input--style input-perfil-user" type="tel" name="phone" id="telefono" value="<%= session.user.phone ? session.user.phone : "------" %>" disabled>
                </div>
                 
                    <div class="container">
                        <label class="label-perfil-user" for="direccion">Dirección: </label>
                        <input class=" input--style input-perfil-user" type="text" name="address" id="direccion" value="<%= session.user.location != null && session.user.location.address ? session.user.location.address : "------" %>"disabled>
                    </div>
                    
                    <div class="container">
                        <label class="label-perfil-user" for="city">Ciudad: </label>
                        <input class=" input--style input-perfil-user" type="text" name="city" id="city" value="<%= session.user.location != null && session.user.location.city ? session.user.location.city : "------" %>"disabled>
                    </div>
                    
                <div class="container">
                    <label class="label-perfil-user" for="cp">Codigo Postal: </label>
                    <input class=" input--style input-perfil-user" type="number" name="cp" id="cp" value="<%= session.user.location != null && session.user.location.pc ? session.user.location.pc : "------" %>"disabled>
                </div>
            
                <div class="container">
                    <label class="label-perfil-user" for="province">Provincia: </label>
                    <input class=" input--style input-perfil-user" type="text" name="province" id="province" value="<%= session.user.location != null && session.user.location.province ? session.user.location.province : "------" %>"disabled>
                </div>
                <a href="/user/profile/edit/<%= session.user.id %>" class="changesButton">EDITAR DATOS</a>
                <div>
                    <label for="bad-btn-submit" class="btn_btn-submit">Eliminar perfil</label>
                </div>
                
            </form>
            
            <form id="formDelete" action="/user/perfil/delete/<%= session.user.id%>?_method=DELETE" method="POST">
            <button id="bad-btn-submit" style="display:none" type="submit"></button>
            
        </form>    
        <%- include('../partials/whatsapp.ejs') %> 

        <%- include('../partials/footer.ejs') %> 
        
        <%- include('../partials/scripts.ejs') %>


    </body>

</html>
