<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>
  <%- include('../partials/load.ejs') %>
  <%- include('../partials/header.ejs') %> 

    <main class="container-cart">
        <section class="section1">
          <article>
             
            <form method="POST" action="" class="product">
            <img src="/img/photos/flower2.jpg" alt="">
              <div class="descriptionProduct">

              <span class="iconify iconOutline"
                  data-icon="ion:trash-outline">
              </span>
                
                <h5>Nombre: Conjunto FLOWERS</h5>
                <p>Color: Lila</p>
                <p>Talle: M</p>
                <p>Descuento:</p>
              </div>
              <br />
              <div class="description">
                <span class="price">Precio</span>
                <span class="valuePrice">$1200</span>
                <span class="count">Cantidad</span>
                <span class="linea"></span>
                <input
                  class="valueCount"
                  type="number"
                  name="cantidad"
                  id="cantidad"
                />
                <span class="subPrice">Sub-total</span>
                <span class="valueSubPrice">$2400</span>
              </div>
            </form>
          </article>
        </section>
  
        <section class="buttonsIcons">
          <a  id="iconArrow">
            <span
              class="iconify iconArrow"
              data-icon="ion:arrow-undo-outline"
           ></span>
          </a>
          <a id="iconSync">
            <span class="iconify iconSync" data-icon="ion:sync"></span>
          </a>
          <a id="iconHeart">
            <span
              class="iconify iconHeart"
              data-icon="ion:heart-dislike-outline"
            ></span>
          </a>
          <input class="buy" type="submit" value="PAGAR" />
        </section>

        <div>
          <h4 class="questionAdd">Nuestras Ofertas</h4>
        </div>


        <%- include ('../partials/slider.ejs') %>
        
      </main>

    <%- include('../partials/whatsapp.ejs') %> 

    <%- include('../partials/footer.ejs') %> 
    
    <%- include('../partials/scripts.ejs') %> 
    
    <!-- Script -->
    <script src="/js/productCart.js"></script>

</body>

</html>