<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs')%>

    <div class="register">
        <form action="/user/register" method="POST" class="card modal-content-register">
            <figure class="card__thumbnail">
                <img src="/img/logo.png" alt="" class="card__logo">
            </figure>
            <div class="input-container">
                <input  class="input--style" type="text" name="name" placeholder="<%= (locals.errors  && errors.name) ? errors.name.msg : "Nombre" %>" value="<%= locals.old && old.name %>">
                
                <input class="input--style" type="text" name="last_name" placeholder="<%= (locals.errors  && errors.last_name) ? errors.last_name.msg : "apellido" %>" value="<%= locals.old && old.last_name %>">
                
                <input class="input--style" name="email" placeholder="<%= (locals.errors  && errors.email) ? errors.pass1.msg : "email" %>"
                value="<%= locals.old && old.email %>">
                
                <input class="input--style" type="password" name="pass1" placeholder="<%= (locals.errors  && errors.pass1) ? errors.pass1.msg : "password" %>">
                
                <input class="input--style" type="password" name="pass2" placeholder="Confirmar contraseña" >
                <% if (locals.errors && errors.pass2) { %> 
                    <small class="errors-validation_register"><%= errors.pass2.msg %></small>
                <% } %>
            </div>
            <div class="conditions">
    
                <input class="input__check" type="checkbox" name="condiciones" id="condiciones">
                <label class="check__label" for="condiciones">Aceptar <a href="/info/we#Terminos"
                        class="link-conditions">condiciones</a></label>
                    </div>
                    <% if (locals.errors && errors.condiciones) { %> 
                        <small class="errors-validation_register"><%= errors.condiciones.msg %></small>
                    <% } %>
            <button class="button btn-register" type="submit" value="Registrar">Registrar</button>
            <a href="/user/login" class="haveAccount">Ya tengo cuenta</a>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %> 
    <%- include('../partials/scripts.ejs') %> 

</body>

</html>