<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/load.ejs') %>
    <%- include('../partials/header')%>

        <form action="/user/profile/edit/<%= user.id %>?_method=PUT" method="POST" class="perfil-user" enctype="multipart/form-data">
            <div class="image-container">
                <label class="label-perfil-user img-label" for="examinar"><span class="iconify" data-icon="carbon:add-filled"></span></label>
                <input class="input-perfil-user" type="file" name="avatar" id="examinar" hidden/>
                <img class="image-view" src="/img/user/userAvatars/<%= user.avatar %>" alt="">
            </div>

            <div class="container">
                <label class="label-perfil-user" for="nombre">Nombre: </label>
                <input class="input--style input-perfil-user" type="text" name="name" id="nombre" value="<%= user.name %>"/>
            </div>

            <div class="container">
                <label class="label-perfil-user" for="apellido">Apellido: </label>
                <input class="input--style input-perfil-user" type="text" name="last_name" id="apellido" value="<%= user.last_name %>"/>
            </div>

             <div class="container">
                <label class="label-perfil-user" for="email">Email: </label>
                <input class="input--style input-perfil-user" type="email" name="email" id="email" value="<%= user.email %>"/>
            </div>
            
            <div class="container">
                <label class="label-perfil-user" for="telefono">Teléfono: </label>
                <input class="input--style input-perfil-user" type="tel" name="tel" id="telefono" value="<%= user.phone ? user.phone : "------" %>">
            </div>
            
            <div class="container">
                <label class="label-perfil-user" for="direccion">Dirección: </label>
                <input class=" input--style input-perfil-user" type="text" name="address" id="direccion" value="<%= user.location[0]?.address ? user.location[0].address : "------" %>">
            </div>
            
            <div class="container">
                <label class="label-perfil-user" for="cp">Codigo Postal: </label>
                <input class=" input--style input-perfil-user" type="number" name="cp" id="cp" value="<%= user.location[0]?.cp ? user.location[0].cp : "------" %>">
            </div>

            <div class="container">
                <label class="label-perfil-user" for="city">City: </label>
                <input class=" input--style input-perfil-user" type="text" name="city" id="city" value="<%= user.location[0]?.city ? user.location[0].city : "------" %>">
            </div>

            <div class="container">
                <label class="label-perfil-user" for="province">Provincia: </label>
                <input class=" input--style input-perfil-user" type="text" name="province" id="province" value="<%= user.location[0]?.province ? user.location[0].province : "------" %>">
            </div>
            <button class="changesButton" type="submit">GUARDAR CAMBIOS</button>
        </form>

    <%- include('../partials/footer')%>

  </body>
</html>
