<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/load.ejs') %>
    <%- include('../partials/header')%>

        <form action="/user/profile/edit/<%= user.id %>?_method=PUT" method="POST" id="editProfileForm" class="perfil-user" enctype="multipart/form-data">
            <div class="image-container">
                <label class="label-perfil-user img-label" for="examinar"><span class="iconify" data-icon="carbon:add-filled"></span></label>
                <input class="input-perfil-user" type="file" name="avatar" id="examinar" hidden/>
                <img class="image-view" src="/img/user/userAvatars/<%= user.avatar %>" alt="">
            </div>
            <small id="errorImagen" class="text-danger"></small>
            
            <div class="container">
                <label class="label-perfil-user" for="nombre">Nombre: </label>
                <input class="input--style input-perfil-user" type="text" name="firstName" id="nombre" value="<%= locals.old && old.firstName %>">
                <% if (locals.errors && errors.firstName) { %>
            <small class="text-danger"><%= errors.firstName.msg %> </small>
            <% } %>
            </div>
            <small id="errorNombre" class="text-danger"></small>

            <div class="container">
                <label class="label-perfil-user" for="apellido">Apellido: </label>
                <input class="input--style input-perfil-user" type="text" name="lastName" id="apellido" value="<%= locals.old && old.lastName %>">
                <% if (locals.errors && errors.lastName) { %>
            <small class="text-danger"><%= errors.lastName.msg %> </small>
            <% } %>
            </div>
            <small id="errorApellido" class="text-danger"></small>

             <div class="container">
                <label class="label-perfil-user" for="email">Email: </label>
                <input class="input--style input-perfil-user" type="email" name="email" id="email" value="<%= locals.old && old.email %>">
                <% if (locals.errors && errors.email) { %>
            <small class="text-danger"><%= errors.email.msg %> </small>
            <% } %>
            </div>
            <small id="errorEmail" class="text-danger"></small>

            <div class="container">
                <label class="label-perfil-user" for="telefono">Teléfono: </label>
                <input class="input--style input-perfil-user" type="tel" name="phone" id="telefono" value="<%= user.phone ? user.phone : "------" %>">
            </div>
            <small id="errorTelefono" class="text-danger">
                <%= (locals.errors && errors.phone) ? errors.phone.msg : "" %>
            </small>

            <div class="container">
                <label class="label-perfil-user" for="direccion">Dirección: </label>
                <input class=" input--style input-perfil-user" type="text" name="address" id="direccion" value="<%= user.location ? user.location[0]?.address : "------" %>">
            </div>
            <small id="errorDireccion" class="text-danger">
                <%= (locals.errors && errors.address) ? errors.address.msg : "" %>
            </small>
            
            <div class="container">
                <label class="label-perfil-user" for="cp">Codigo Postal: </label>
                <input class=" input--style input-perfil-user" type="number" name="pc" id="cp" value="<%= user.location ? user.location[0]?.pc : "------" %>">
            </div>
            <small id="errorCp" class="text-danger">
                <%= (locals.errors && errors.pc) ? errors.pc.msg : "" %>
            </small>
            
            <div class="container">
                <label class="label-perfil-user" for="province">Provincia: </label>
                <input class=" input--style input-perfil-user" type="text" name="province" id="province" value="<%= user.location ? user.location[0]?.province : "------" %>">
            </div>
            <div class="container">
                <label class="label-perfil-user" for="city">Ciudad: </label>
                <input class=" input--style input-perfil-user" type="text" name="city" id="city" value="<%= user.location ? user.location[0]?.city : "------" %>">
            </div>

            <button class="changesButton" type="submit">GUARDAR CAMBIOS</button>
            <small id="errorProfileEditForm" class="text-danger"></small>

        </form>
        
        <%- include('../partials/footer')%>
        <script src="/js/profileEditValidation.js"></script>
  </body>
</html>
