<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/load.ejs') %>
            <%- include('../partials/header')%>

                <form action="/user/profile/edit/<%= user.id %>?_method=PUT" method="POST" id="editProfileForm"
                    class="perfil-user" enctype="multipart/form-data">
                     <div class="image-container">
        <label class="label-perfil-user img-label" for="examinar"
          ><span class="iconify" data-icon="carbon:add-filled"></span
        ></label>
        <input
          class="input-perfil-user"
          type="file"
          name="avatar"
          id="examinar"
          hidden
        > 
                    <img class="image-view" <%=user.social_provider !="google" ?
                        `src=/img/user/userAvatars/${user.avatar}` : `src=${user.avatar}`%>
                    alt="">
                    </div>
                    <small id="errorImagen" class="text-danger"></small>

                    <div class="container">
                        <label class="label-perfil-user" for="nombre">Nombre: </label>
                        <input class="input--style input-perfil-user" type="text" name="firstName" id="nombre"
                            value="<%= user.firstName %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <small class="text-danger">
                                <%= errors.firstName.msg %>
                            </small>
                            <% } %>
                        </div>
                        <small id="errorNombre" class="text-danger"></small>

                    <div class="container">
                        <label class="label-perfil-user" for="apellido">Apellido: </label>
                        <input class="input--style input-perfil-user" type="text" name="lastName" id="apellido"
                            value="<%= user.lastName %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <small class="text-danger">
                                <%= errors.lastName.msg %>
                            </small>
                            <% } %>
                    </div>
                    <small id="errorApellido" class="text-danger"></small>

                    <div class="container">
                        <label class="label-perfil-user" for="email">Email: </label>
                        <input class="input--style input-perfil-user" type="email" name="email" id="email"
                            value="<%= user.email %>" disabled>
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger">
                                <%= errors.email.msg %>
                            </small>
                            <% } %>
                    </div>
                    <small id="errorEmail" class="text-danger"></small>

                    <div class="container">
                        <label class="label-perfil-user" for="telefono">Teléfono: </label>
                        <input class="input--style input-perfil-user" type="tel" name="phone" id="telefono"
                            value="<%= user.phone %>">
                    </div>
                    <small id="errorTelefono" class="text-danger">
                        <%= locals.errors && errors.phone ? errors.phone.msg : "" %>
                    </small>

                    <div class="container">
                        <label class="label-perfil-user" for="direccion">Dirección: </label>
                        <input class="input--style input-perfil-user" type="text" name="address" id="direccion" value="<%= user.location[0].address %>">
                    </div>
                    <small id="errorDireccion" class="text-danger">
                        <%= locals.errors && errors.address ? errors.address.msg : "" %>
                    </small>

                    <div class="container">
                        <label class="label-perfil-user" for="cp">Codigo Postal: </label>
                        <input class=" input--style input-perfil-user" type="number" name="pc" id="cp" value="<%= locals.old ? old.pc : user.location ?
                        user.location[0].pc : "" %>">
                    </div>
                    <small id="errorCp" class="text-danger">
                        <%= locals.errors && errors.pc ? errors.pc.msg : "" %>
                    </small>

                    <div class="container">
                        <label class="label-perfil-user" for="province">Provincia: </label>
                        <input class="input--style input-perfil-user" name="province" id="province" value=""<%= locals.old ? old.province :
                        user.location ? user.location[0].province : "" %>"">
                    </div>


                    <div class="container">
                        <label class="label-perfil-user" for="city">Ciudad: </label>
                        <input class="input--style input-perfil-user" name="city" id="city" value=""<%= locals.old ? old.city : user.location ?
                        user.location[0].city : "" %>"">
                    </div>

                    <button class="btn btn-success m-auto mt-4" type="submit">GUARDAR CAMBIOS</button>
                    <small id="errorProfileEditForm" class="text-danger"></small>
                    <a href="/user/perfil" class="btn btn-secondary m-auto mt-2">CANCELAR</a>
                </form>
                <%- include('../partials/footer.ejs') %>
                    <%- include('../partials/whatsapp.ejs') %>
                        <%- include('../partials/scripts.ejs') %>
                        
    <script src="/js/profileEditValidation.js" defer></script>
                            
    </body>

</html>