<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/load.ejs') %>
    <%- include('../partials/header.ejs') %>
 
    
     <!--Términos y condiciones-->
     

    <main>
        <div class="containerHelp">
            <h3 class="help"> AYUDA </h3>
        <div class="descriptionHelp">
            <div class="col-md-9 contentHelp">
                <div class="panel-heading">
                <p class="help">PREGUNTAS FRECUENTES</p>
                    <button class="accordion">¿Cómo comprar?</button>
                    <div class="panel">
                      <p>Para comenzar recomendamos que te inicies sesión en el sitio. Si no tenés una cuenta, podés crear una fácilmente con mail y contraseña o incluso con tu cuenta de Facebook. En computadoras vas a encontrar el acceso a Inicio de Sesión/Registro en el margen superior derecho de la pantalla. Desde celulares u otros dispositivos móviles, desplegá el menú desde el botón (☰) para visualizar la opción.</p>
                      <p>Podés navegar el sitio a través de las distintas categorías en busca de los productos que quieras comprar, o bien utilizar el buscador para encontrar algo específico. En computadoras podés encontrar el buscador en la parte superior derecha de la pantalla, y en dispositivos móviles y celulares en el margen superior izquierdo.</p>
                      <p>A medida que encuentres productos de tu interés, podrás ir agregandolos a tu carrito antes de finalizar la compra. Para agregar un producto a tu carrito debés seleccionar primero su variante de color y talle.</p>
                      <p>No hay un límite de cantidad de productos para agregar al carrito. Para ver qué producto tenés pre-seleccionados o finalizar tu compra, accedé al ícono de bolsa en la parte superior derecha de tu pantalla. Allí podrás avanzar para finalizar la compra, o ver un detalle de tu carrito.</p>
                      <p>Para finalizar tu compra deberás completar 3 pasos:
                          <br>
                        - Método de envío y dirección
                        <br>
                        - Dirección de Facturación (en caso que difiera de la información del punto 1)
                        <br>
                        - Método de Pago
                      </p>
                      <p>
                        Métodos de Envío: Contamos con 2 opciones de envío:
                        <br>
                        - Envío a Domicilio
                        <br>
                        - Envío a Sucursal de Correo
                        <br>
                        Dirección de Facturación:
                        <br>
                        - Si la información de facturación es la misma que la de envío, podrás optar por no ingresarla
                        <br>                    
                        Método de Pago:
                        <br>
                        Sólo podrás realizar pagos con tarjeta de crédito
                      </p>
                      <p>En el momento que se acredite tu pago, recibirás un email de confirmación del mismo. También, recibirás un email cada vez que tu pedido cambie de estado en el proceso de Despacho y Logística.</p>
                    </div>
                
                    <button class="accordion">¿Hay cuotas sin interés?</button>
                    <div class="panel">
                    <p>Contamos con cuotas sin interés todos los días pagando con MercadoPago con tarjetas y bancos seleccionados. Podés consultar si tu banco/tarjeta está adherido en 
                    <a href="https://www.mercadopago.com.ar/cuotas">mercadopago.com.ar/cuotas </a>
                    </div>
                    
                    <button class="accordion">¿A través de qué medio se realizan los pagos?</button>
                    <div class="panel">
                      <p>Los pagos que hagas en lovelook.com.ar se realizan a través de MercadoPago Gateway y MercadoPago Agregador.</p>                    </p>
                    </div>

                    <button class="accordion">¿Con qué tarjetas puedo pagar?</button>
                    <div class="panel">
                        <p>Podés realizar tus pagos con las tarjetas aceptadas por MercadoPago. Estas son: Visa, Mastercard, American Express, Tarjeta Banco Patagonia MercadoPago, Tarjeta Naranja, Nativa, Tarjeta Shopping, Cencosud, Diners, Cordobesa, CMR Falabella y Tarjeta Wallmart.
                            <br>
                           También podrás realizar pagos con tarjetas de débito Visa, Mastercard, Maestro y CABAL.
                        </p>
                    </div>
                    
                    <button class="accordion">¿Es seguro comprar en lovelook.com.ar?</button>
                    <div class="panel">
                      <p>Ni tus datos personales, como tampoco el contenido de tu pedido será compartido ni divulgados bajo ningún concepto. Estos datos no serán utilizados para otros fines, más que para el procesamiento de sus pedidos.</p>
                    </div>
                    
                    <button class="accordion">¿Es seguro ingresar los datos de mi tarjeta de crédito?</button>
                    <div class="panel">
                      <p>Sí, es seguro ingresar los datos de tu tarjeta de crédito. Entendemos que la seguridad de tu información personal es de suma importancia para cada usuario. Cumplimos con el estándar internacional de protección de datos, para que tu información personal y la de tu tarjeta de crédito, esté protegida ante accesos no autorizados.</p>
                    </div>
            
                    <button class="accordion">¿Cuál es mi talle?</button>
                    <div class="panel">
                        <p>Podrás consultar los talles de cada prenda en la descripción de cada artículo. También vas a poder encontrar una tabla de talles/equivalencias de cada categoría de prenda.</p>
                    </div>
            </div>
        
            <div class="shipping">
                <p class="help">MÉTODOS DE ENVÍO</p>
                <button class="accordion">¿Cuál es el costo de envío?</button>
                <div class="panel">
                    <p>El valor de envío dependerá del método de envío que selecciones al momento de finalizar tu compra. Según cada método de envío los valores son:</p>
                    <p>- Envio a Domicilio CABA y alrededores $420
                        <br>
                        - Envío a Domicilio GBA y resto del Pais $490
                        <br>
                        - Envío a Sucursal Andreani: $290
                    </p>
                </div>

                <button class="accordion">¿Cuál es el tiempo de entrega?</button>
                <div class="panel">
                    <p>Envíos a Sucursal o Domicilio Estándar (CABA): 3 a 6 días hábiles
                        <br>
                        Envíos a Sucursal o Domicilio Estándar (GBA): 3 a 6 días hábiles
                        <br>
                        Envíos a Sucursal o Domicilio Estándar (Interior): 4 a 8 días hábiles
                        <br>
                        Nota: durante eventos de alta demanda para los servicios logísticos (como pueden ser HotSale, CyberMonday, Liquidaciones) estos tiempos pueden verse extendidos.
                    </p>
                </div>

                <button class="accordion">¿Cuál es el costo de envío?</button>
                    <div class="panel">
                        <p>El valor de envío dependerá del método de envío que selecciones al momento de finalizar tu compra. Según cada método de envío los valores son:</p>
                        <p>- Envio a Domicilio CABA y alrededores $420
                            <br>
                            - Envío a Domicilio GBA y resto del Pais $490
                            <br>
                            - Envío a Sucursal Andreani: $290
                        </p>
                </div>

                <button class="accordion">¿Cuál es el tiempo de entrega?</button>
                <div class="panel">
                    <p>Envíos a Sucursal o Domicilio Estándar (CABA): 3 a 6 días hábiles
                        <br>
                        Envíos a Sucursal o Domicilio Estándar (GBA): 3 a 6 días hábiles
                        <br>
                        Envíos a Sucursal o Domicilio Estándar (Interior): 4 a 8 días hábiles
                        <br>
                        Nota: durante eventos de alta demanda para los servicios logísticos (como pueden ser HotSale, CyberMonday, Liquidaciones) estos tiempos pueden verse extendidos.
                    </p>
                </div>

                <button class="accordion">¿Puedo hacer el seguimiento de mis compras?</button>
                <div class="panel">
                    <p>Si. Una vez que tu pedido sea despachado recibirás un email con un código de seguimiento de tu paquete en Andreani. Podrás utilizar ese código para saber el estado de tu pedido en todo momento ingresandolo en el siguiente link: 
                        <a href="https://www.correoargentino.com.ar/formularios/e-commerce"> Seguimiento.correoargentino.com.ar/ </a>
                    </p>
                </div>

                <button class="accordion">¿Qué pasa si no hay nadie cuando traen mi pedido?</button>
                <div class="panel">
                    <p>Andreani realiza dos (2) visitas por cada domicilio de entrega, por lo que si no hay nadie en el primer intento, volverán a pasar.
                        <br>
                        En caso de no ser exitosa su segunda visita, el pedido quedará guardado en la sucursal Andreani más cercana a tu domicilio durante siete (7) días corridos. Podrás acercarte a retirarlo con Documento de Identidad.
                        <br>
                        Una vez finalizado el plazo de siete (7) días, el pedido regresará a nuestro depósito. Cuando llegue; un representante de atención al cliente se contactará contigo para gestionar el reintegro o el nuevo envio abonando el flete del mismo.
                    </p>
                </div>

                <button class="accordion">¿Cómo se realizan las entregas?</button>
                <div class="panel">
                    <p>Las entregas se realizan en bolsas cerradas a través de ANDREANI. Si creés que tu paquete fue abierto/adulterado de alguna manera no lo recibas ni firmes la entrega. Si lo hiciste por favor comunicate con alguno de nuestros canales de atención al cliente.</p>
                </div>

            <div class="promotionHelp">
                <p class="help">PROMOCIONES VIGENTES</p>
                <button class="accordion">BANCO PATAGONIA 15 % Y 20% REINTEGRO</button>
                <div class="panel">
                    <p>PROMOCION VALIDA DESDE 01/09/2021 Hasta 31/12/2021.  TARJETAS ADHERIDAS  VISA, MASTERCARD y AMEX, CREDITO Y DEBITO: CARTERA GENERAL 15% DE DESCUENTO. TOPE DE REINTEGRO $500. PLUS y PLUS PREMIUM 20% DE DESCUENTO , TOPE DE REINTEGRO $750. ALTA RENTA 20%  DE DESCUENTO , TOPE DE REINTEGRO $ 1000. DISPONIBLE EXCLUSIVAMENTE EN LOS LOCALES AV. CORDOBA, CHAMPAGNAT, CUYO, CUYO, DISTRITO ARCOS, LINIERS PLAZA SHOPPING, LUJAN, LUJAN SHOPPING, LUJAN SHOPPING, SAN JUSTO SHOPPING, SAN MIGUEL, ZARATE, AUCHAN AVELLANEDA, CABALLITO, CABALLITO, ESCOBAR FACTORY, LANUS CENTRO, LOMAS CENTER, MDP CONSTITUCION, MENDOZA CENTRO, MORENO NINE FACTORY, PARQUE BROWN, QUILMES FACTORY, RECOLETA MALL, SALTA CENTRO, SAN MARTIN FACTORY, SOLEIL PREMIUM OUTLET, SPINETTO, TUCUMAN SHOPPING, ABASTO SHOPPING, ADROGUE BOULEVARD, ADROGUE CENTRO, ALTO AVELLANEDA, ALTO PALERMO, ALV. THOMAS 3320, ALV. THOMAS 3320, AZUL, BARADERO, CABILDO, CAMPANA, CBA. NUEVO CENTRO, CBA. PASEO LIBERTAD, CBA. PATIO OLMOS, CBA. VILLA CABRERA, CHACABUCO, CHIVILCOY, DAFITI, DOT BAIRES, E-COMMERCE, FLORES 2, FLORIDA, FLORIDA, FLORIDA Y VIAMONTE, JUJUY, JUMBO PALERMO, LA PAMPA, LA PLATA CALLE 5, LA PLATA PEATONAL, LA PLATA SHOPPING, LOBOS, LOMAS DE ZAMORA CENTRO, MARTINEZ, MARTINEZ, MDP PASEO ALDREY, MDP PEATONAL, MDP RAWSON, MDP RIVADAVIA, MERCADO LIBRE, MORON PLAZA OESTE, NECOCHEA, NORDELTA, OLAVARRIA, PARANA SHOPPING, PASEO ALCORTA, PERGAMINO, PINAMAR, PORTAL PILAR, QUILMES PEATONAL, QUILMES PEATONAL, RAFAELA, RAMOS MEJIA, ROSARIO ALTO, ROSARIO CENTRO, ROSARIO PORTAL, ROSARIO SHOPPING, SALTA PORTAL, SALTA SHOPPING, SAN ISIDRO CENTRO, SAN JUSTO, SAN JUSTO, SAN LUIS, SAN LUIS SHOPPING, SAN MARTIN PEATONAL 2, SAN NICOLAS, SAN PEDRO, SOLAR DE LA ABADIA, STA. FE Y CALLAO, STA. FE Y CALLAO, TANDIL, TERRAZAS SAN MIGUEL, TORTUGAS OPEN MALL, TUCUMAN CENTRO, TUCUMAN DEL CERRO, TUCUMAN PORTAL, UNICENTER, VENADO TUERTO, VILLA DEL PARQUE, VILLA DEL PARQUE, VILLA DEVOTO, VILLA GESELL. . CONSULTAS EN WWW.CHEEKY.COM.AR  O AL 1168731917 (LINEA WHATSAPP). LOVELOOK S.A. CAPITAL FEDERAL.

                BANCO ITAÚ 15% OFF – REINTEGRO
                Promocion Valida Desde 01/09/2021 Hasta 31/12/2021. 15% DE DESCUENTO (100% aporte banco) + 3 cuotas s/INTERES (100% aporte banco).CREDITO VISA Y MASTER, SIN TOPE DE REINTEGRO DISPONIBLE EXCLUSIVAMENTE EN LOS LOCALES AV. CORDOBA, CHAMPAGNAT, CUYO, CUYO, DISTRITO ARCOS, LINIERS PLAZA SHOPPING, LUJAN, LUJAN SHOPPING, LUJAN SHOPPING, SAN JUSTO SHOPPING, SAN MIGUEL, ZARATE, AUCHAN AVELLANEDA, CABALLITO, CABALLITO, ESCOBAR FACTORY, LANUS CENTRO, LOMAS CENTER, MDP CONSTITUCION, MENDOZA CENTRO, MORENO NINE FACTORY, PARQUE BROWN, QUILMES FACTORY, RECOLETA MALL, SALTA CENTRO, SAN MARTIN FACTORY, SOLEIL PREMIUM OUTLET, SPINETTO, TUCUMAN SHOPPING, ABASTO SHOPPING, ADROGUE BOULEVARD, ADROGUE CENTRO, ALTO AVELLANEDA, ALTO PALERMO, ALV. THOMAS 3320, ALV. THOMAS 3320, AZUL, BARADERO, CABILDO, CAMPANA, CBA. NUEVO CENTRO, CBA. PASEO LIBERTAD, CBA. PATIO OLMOS, CBA. VILLA CABRERA, CHACABUCO, CHIVILCOY, DAFITI, DOT BAIRES, E-COMMERCE, FLORES 2, FLORIDA, FLORIDA, FLORIDA Y VIAMONTE, JUJUY, JUMBO PALERMO, LA PAMPA, LA PLATA CALLE 5, LA PLATA PEATONAL, LA PLATA SHOPPING, LOBOS, LOMAS DE ZAMORA CENTRO, MARTINEZ, MARTINEZ, MDP PASEO ALDREY, MDP PEATONAL, MDP RAWSON, MDP RIVADAVIA, MERCADO LIBRE, MORON PLAZA OESTE, NECOCHEA, NORDELTA, OLAVARRIA, PARANA SHOPPING, PASEO ALCORTA, PERGAMINO, PINAMAR, PORTAL PILAR, QUILMES PEATONAL, QUILMES PEATONAL, RAFAELA, RAMOS MEJIA, ROSARIO ALTO, ROSARIO CENTRO, ROSARIO PORTAL, ROSARIO SHOPPING, SALTA PORTAL, SALTA SHOPPING, SAN ISIDRO CENTRO, SAN JUSTO, SAN JUSTO, SAN LUIS, SAN LUIS SHOPPING, SAN MARTIN PEATONAL 2, SAN NICOLAS, SAN PEDRO, SOLAR DE LA ABADIA, STA. FE Y CALLAO, STA. FE Y CALLAO, TANDIL, TERRAZAS SAN MIGUEL, TORTUGAS OPEN MALL, TUCUMAN CENTRO, TUCUMAN DEL CERRO, TUCUMAN PORTAL, UNICENTER, VENADO TUERTO, VILLA DEL PARQUE, VILLA DEL PARQUE, VILLA DEVOTO, VILLA GESELL. . CONSULTAS EN WWW.LOVELOOK.COM.AR  O LINEA WHATSAPP. LOVELOOK S.A. CAPITAL FEDERAL.</p>
                </div>

                <button class="accordion">ESPECIAL HOT SALE 40% SOBRE ARTÍCULOS INVIERNO</button>
                <div class="panel">
                    <p>PROMOCIÓN VÁLIDA PARA COMPRAS  REALIZADAS EL 01/09/2021 AL  EL 31/10/2021 O HASTA  AGOTAR STOCK TOTAL DE 237.478 ARTÍCULOS DE INVIERNO.  CUYOS CÓDIGOS COMIENZA CON (W21, W20, W18, W17, W16, W15, W14, W13, W12, W05, W11, W10, W07, W06, W08, W09 Y FINALIZAN EN 1).REMANENTE Y UNIFICADOS.QUEDAN EXCLUIDOS ARTICULOS CUYO CODIGO COMIMENZA CON CQ. BENEFICIO NO ACUMULABLE CON OTRAS PROMOCIONES VIGENTES, CAMBIO POR PRODUCTOS PARTICIPANTES. DISPONIBLE.DISPONIBLE EXCLUSIVAMENTE EN LOS LOCALES CQ-DISTRITO ARCOS, CQ-SOLEIL PREMIUM OUTLET, STAND HIPODROMO PALERMO, CQ-MENDOZA CENTRO, CQ-ROSARIO PORTAL, CQ-SAN JUSTO SHOPPING, CQ-ABASTO SHOPPING, CQ-ALTO AVELLANEDA, CQ-ALTO PALERMO, CQ-DAFITI, CQ-DOT BAIRES, CQ-ECOMMERCE, CQ-LA PAMPA, CQ-LA PLATA CALLE 5, CQ-LA PLATA PEATONAL, CQ-LUJAN, CQ-MDP PASEO ALDREY, CQ-MDP SHOPPING, CQ-MERCADO LIBRE, CQ-MORON PLAZA OESTE, CQ-NEUQUEN ALTO COMAHUE, CQ-NORDELTA, CQ-PASEO ALCORTA, CQ-PILAR LAS PALMAS, CQ-RAMOS MEJIA, CQ-RECOLETA MALL, CQ-ROSARIO ALTO, CQ-SAN ISIDRO CENTRO, CQ-SAN MIGUEL, CQ-SOLAR DE LA ABADIA, CQ-TORTUGAS OPEN MALL, CQ-TUCUMAN PORTAL, CQ-UNICENTER, CQ-VILLA DEVOTO PARA MAS CONSULTAS EN WWW.CHEEKY.COM.AR LOVELOOK S.A. CAPITAL FEDERAL.</p>
                </div>

                <button class="accordion">SORTEOS</button>
                <div class="panel">
                    <p>BASES Y CONDICIONES</p>
                    <P>1. ALCANCE.- Este concurso (en adelante, el “Concurso”) es organizado por LOVELOOK S.A., de la Ciudad de Buenos Aires (en adelante, el "Organizador"). El Organizador asume enteramente la responsabilidad por la organización del Concurso, y la entrega del Premio a los Ganadores.</P>
                    <P>2. REQUISITOS DE PARTICIPACIÓN.- Podrán participar todas las personas mayores de 14 años, que residan en la República Argentina, a excepción de aquellos residentes en las provincias de Río Negro, Neuquén, Mendoza, Córdoba, y Salta, y tengan disponibilidad y medios para viajar al lugar indicado en estas Bases y Condiciones para recibir el Premio en la fecha prevista, en caso de resultar Ganador (en adelante, “los Participantes”). No podrán participar los empleados, proveedores y asesores del Organizador, y de las agencias de publicidad intervinientes, sus cónyuges, sus parientes por consanguinidad o afinidad hasta el segundo grado inclusive.</P>
                    <P>3. PREMIO.- DE Dicho sorteo resultarán dos ganadores (en adelante, los “Ganadores”). Los Ganadores recibirán como premio una orden de compra de $8.000 para cada uno.  El valor total estimado del premio asciende a la suma de $ 16.000 en canje de productos. El Premio deberá ser retirado por los Ganadores de lunes a viernes de 10 a 19 horas. En caso de que el Ganador sea de otra localidad o provincia, el organizador podrá enviar el premio al local más cercano o a su domicilio. Todo gasto adicional en el que incurran los Ganadores sea para acceder o hacer uso del Premio, o en ocasión de su utilización, correrá por exclusiva cuenta del Ganador. El Premio es intransferible y no podrá ser canjeado por dinero en efectivo.</P>
                    <P>4. SIN OBLIGACIÓN DE COMPRA.- Para participar de este Concurso no existe obligación de compra. En consecuencia los interesados en participar no necesitan  comprar producto alguno o servicio para participar y ganar en el Sorteo previsto en este Concurso.</P>
                    <P>5. FORMA DE PARTICIPACIÓN. Podrán participar todas aquellas personas que sigan a la marca “LOVE LOOK” (@Lovelook) en la red social Instagram. Cada uno de los Participantes deberá: (i) hacer screenshot de la imagen subida en las historias de @Lovelook, (ii) subirla etiquetando a @lovelook y a un amigo/a (mediante la mecánica de arrobar un amigo/a), y (iii) completar a elección redondeando en la imagen subida, el Bingo de 20 cuadrados, donde cada cuadrado tiene un plan distinto (ej. Viaje Juntas, Día de Shopping, Cafecito en Palermo, Karaoke Night, etc), (los “Requisitos de Participación”). La descripción de la historia será de la siguiente manera:

                        GANÁ UNA ORDEN DE COMPRA DE $8000! para vos y tu mejor amiga.
                        
                        Screenshoteá esta imagen y subila a tu historia etiquetándonos así podes participar! 
                        
                        Planes que hice con ___________ (etiquetá a tu mejor amiga!) 
                        
                        Los Participantes previa lectura a estas Bases y Condiciones, y siempre y cuando cumplan con los Requisitos de Participación, podrán participar en el Concurso (en adelante, los “Participantes del Sorteo”).
                        
                        El Organizador se reserva el derecho a descalificar inscripciones múltiples provenientes de una misma persona, o de una misma dirección de correo electrónico o cuenta de Instagram realizadas mediante métodos de duplicación robóticos, automáticos, repetitivos, programados o con métodos de duplicación similares, y a descalificar a cualquier persona que utilice dichos métodos.
                        
                        En la semana del 20 de julio de 2021, se volverán a subir historias anunciando que quedarán pocos días para seguir participando.
                    </P>
                    <P>6. NOTIFICACIÓN AL GANADOR.- Los Ganadores titulares serán notificados de su condición el mismo día del Sorteo a través de un mensaje privado vía Instagram a la cuenta con la que participó del Sorteo. Los Ganadores titulares deberá responder el mensaje informando su nombre completo, Documento Nacional de Identidad, Domicilio (indicando calle, altura, piso, departamento, localidad, código postal y entre-calles), Teléfono, y una dirección de correo electrónico de contacto. En caso de no responder el mensaje dentro de las 48 horas o en caso de no cumplir con los requisitos antes descriptos, dicho Ganador perderá el derecho al Premio respectivo, sin posibilidad de realizar reclamo alguno. En dicho caso, el Premio será adjudicado al Ganador suplente elegido, aplicándose a dicha persona las mismas previsiones y plazos antes detallados para la notificación, comunicación y entrega del Premio. Asimismo, el Organizador dará a conocer la identidad del Ganador mediante la difusión en su cuenta de Instagram.</P>
                    <P>7. ACEPTACIÓN DE PREMIO.- Los Ganadores concurrirán al domicilio del Organizador sito en la calle Cuyo 3040, Martínez, Provincia de Buenos Aires o al local indicado por el Organizador, a retirar el Premio dentro del plazo de diez (10) días hábiles desde la fecha de la comunicación de su elección como Ganador. En dicha oportunidad el Organizador le realizará al Ganador una pregunta de interés general que deberá ser respondida correctamente para la entrega del Premio, de lo contrario, deberá realizarse el mismo procedimiento con el Ganador suplente elegido.

                        Una vez retirado el Premio, los Ganadores liberarán y eximirán al Organizador, así como a sus respectivos empleados y directivos y a cualquier otra persona directamente involucrada en el Concurso, de toda responsabilidad que en cualquier forma pueda surgir directa o indirectamente de su participación en el Concurso y/o de la aceptación o utilización del Premio. El Organizador podrá solicitar a los Ganadores que suscriba un formulario de exención de responsabilidad.</P>
                    <P>8. PREMIO NO ASIGNADO/RECLAMADO. Si resultara imposible comunicarse con los Ganadores titulares y los Ganadores suplentes o si el Premio no fuese utilizado, éste quedará en poder del Organizador.</P>
                    <P>9. IMPUESTOS y GASTOS.- Será a cargo de los Ganadores todo impuesto que deba tributarse sobre o en relación con su respectivo Premio y toda suma de dinero que deba abonarse por cualquier concepto al Estado Nacional, sociedades del estado, Provincias y/o Municipalidades con motivo de la organización del Concurso y/o del ofrecimiento del Premio y el Organizador podrá condicionar la entrega del Premio a la acreditación por los Ganadores del pago de esos conceptos. El Organizador no será responsable por los gastos en que incurrieren los Participantes del Sorteo en cualquier etapa del Concurso.</P>
                    <P>10. RESPONSABILIDAD Y ALCANCE.- El Organizador no será responsable por los daños y perjuicios que pudieran sufrir los Ganadores y/o sus invitadas en su persona o en sus bienes, con motivo o en ocasión de la participación y/o retiro del Premio y/o utilización del mismo. Las personas que intervengan en este Concurso, por su sola participación aceptarán de pleno derecho todas y cada una de las disposiciones previstas en las presentes Bases y Condiciones.</P>
                    <P>11. DIFUSIÓN DEL NOMBRE DE LOS GANADORES.- Los Participantes del Sorteo autorizan al Organizador a difundir los nombres, documentos, domicilio, voces y/o imágenes de los Ganadores por el medio de comunicación y en la forma que el Organizador considere oportuno, con fines comerciales y de publicidad, sin derecho de compensación alguna, durante la vigencia del Concurso y hasta transcurridos tres años de la finalización de la misma. La participación en este Concurso, implica el consentimiento de los Participantes del Sorteo conforme lo establecido en la ley 25.326 de Protección de Datos Personales, para que sus datos personales  integren las bases de datos del Organizador. Los datos recabados serán almacenados en la base de datos del Organizador. Los Participantes del Sorteo podrán ejercer sus derechos de acceso, rectificación o supresión enviando una carta al Organizador, domiciliado en la Provincia de Buenos Aires.</P>
                    <P>12. PROBABILIDADES.- La probabilidad de ganar el Premio previsto en estas Bases dependerá de la cantidad de Participantes del Sorteo. En la hipótesis que existan 100 (cien) participaciones válidas, que cumplan todos los requisitos de las presentes Bases y Condiciones, la probabilidad de obtener el Premio del Sorteo para cada uno de los Participantes del Sorteo es de uno (1) entre cien (100).</P>
                    <P>13. SOLICITUD DE BASES - PUBLICIDAD DEL CONCURSO.- Se podrán consultar las Bases y Condiciones de este Concurso durante toda su vigencia, en la página web www.comoquieres.com.ar y en la sede social del Organizador.</P>
                    <P>14. ACEPTACIÓN DE BASES.- La participación en este Concurso implica total conocimiento y aceptación de estas Bases y Condiciones, las que por causas ajenas y de fuerza mayor no imputables al Organizador, podrán ser modificadas, con la previa aprobación de la respectiva autoridad de aplicación, sin que ello dé lugar a reclamo o indemnización alguna. Las modificaciones que eventualmente deban realizarse no modificarán la esencia del Concurso ni implicarán disminución del programa de premios.</P>
                    <P>15. LEY APLICABLE.- Toda relación que en virtud del Concurso se genere entre los Participantes del Sorteo y el Organizador será regida y concertada en total sujeción a las leyes de la República Argentina, renunciando los Participantes del Sorteo a cualquier otra ley cuya aplicación pudieran tener derecho.</P>
                </div>
            </div>
            </div>
        </div>
        
    </main>
        <%- include('../partials/whatsapp.ejs') %> 

        <%- include('../partials/footer.ejs') %> 
          
                    <%- include('../partials/scripts.ejs') %>   

</body>

</html>