<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/load.ejs') %>
                <%- include('../partials/header.ejs')%>

                    <div class="sectionWe">
                        <div class="cold-md-2">
                            <p class="we"> Nosotros </p>
                            <ul class="navWe">
                                <li>
                                    <a href="#Privacidad">Políticas de privacidad</a>
                                </li>
                                <li>
                                    <a href="#Locales">Nuestros Locales</a>
                                </li>
                                <li>
                                    <a href="#Terminos">Términos y Condiciones </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="containerGeneralWe">
                        <div class="containerWe">


                            <div class="col-sm-12 col-xs-12 nopadding text-center pt20">
                                <p id="Privacidad" class="f-bold mb10 t-color f-13 text-center">Políticas de privacidad
                                </p>
                            </div>
                            <div>
                                <div class="pl-15 pr-15 f-13" id="termMobile">
                                    <p class="f-bold mb10 mt10" style="padding-top: 30px" ;>INFORMACIÓN GENERAL</p>
                                    <br>
                                    <br>
                                    <p>
                                        "Al registrarte, ingresaste en www.Lovelook.com.ar algunos datos personales. Tu
                                        información
                                        personal se
                                        procesa y almacena en servidores que cumplen con altos estándares
                                        internacionales de
                                        seguridad.
                                        Lovelook
                                        (Lovelook S.A) está inscripto en el “Programa de protección de bases de datos
                                        personales”
                                        coordinado por
                                        el Ministerio de Justicia de la República Argentina, lo que demuestra y
                                        garantiza nuestro
                                        compromiso por
                                        brindarte la máxima calidad en el manejo y protección de tus datos personales."
                                    </p>
                                    <br>
                                    <p class="f-bold mb10 mt10">Que Datos Guardamos?</p>
                                    <br>
                                    <p>-Nombre</p>
                                    <br>
                                    <p>-Apellido</p>
                                    <br>
                                    <p>-Fecha De Nacimiento</p>
                                    <br>
                                    <p>-Email</p>
                                    <br>
                                    <p>-Dirección De Entrega</p>
                                    <br>
                                    <p>-Historial De Compra</p>
                                    <br>
                                    <p class="f-bold mb10 mt10">Porque Guardamos Estos Datos?</p>
                                    <br>
                                    <p>-Identificar quien realizo la compra</p>
                                    <br>
                                    <p>"-Procesar, validar, confirmar verificar y enviar los pedidos realizados en el
                                        sitio web"</p>
                                    <br>
                                    <p>"-Comunicar promociones, eventos y cambios en la política de nuestro sitio web"
                                    </p>
                                    <br>
                                    <p class="f-bold mb10 mt10">Como Eliminar Tus Datos?</p>
                                    <br>
                                    <p>
                                        En el caso de que quieras cerrar tu cuenta y que eliminemos todos los datos
                                        correspondientes
                                        a
                                        la misma,
                                        podés hacerlo solicitando la baja de tu usuario a call@lovelook.com.ar
                                    </p>
                                    <br>
                                    <p class="f-bold mb10 mt10">Protección De Datos Personales</p>
                                    <br>
                                    <p>Todos los datos de nuestros clientes están seguros, los mismos están almacenados
                                        en
                                        servidores
                                        externos
                                        preparados para la protección de la información mediante sistemas de
                                        encriptación de datos.
                                        Nosotros no
                                        vendemos, alquilamos o distribuimos los datos personales de nuestros clientes.
                                    </p>
                                    <br>
                                    <p class="f-bold mb10 mt10">Información De Tarjetas De Crédito</p>
                                    <p>Nuestro sitio web no almacena datos de tarjetas de crédito, todos nuestros pagos
                                        son
                                        procesados
                                        en
                                        plataformas de pagos especializadas (MercadoPago Agregador y MercadoPago
                                        Gateway) Estos
                                        mismo
                                        cumplen
                                        con las normas de PCI Compliance.</p>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="container-stores p0">
                                <h2 id="Locales">Nuestros locales</h2>
                                <br>
                                <ul class="store__list-item map-pick map-shop hidden-md hidden-lg">
                                    <li class="store__list-item" id="list_65">
                                        <div class="container-stores p0">
                                            <p class="tittlef-bold mb0">
                                                Portales De Buenos Aires
                                            </p>
                                            <p class="location mb0">
                                                Vedia 3600, Buenos Aires
                                            </p>
                                            <p class="shedules mb0">
                                                0800-222-2299
                                            </p>
                                            <p class="f-13 location">
                                                Lunes a Domingo de 8 a 00hs
                                            </p>
                                        </div>
                                    </li>
                                    <br>
                                    <li class="store__list-item" id="list_30">
                                        <div class="container-stores p0">
                                            <p class="tittlef-bold mb0">
                                                Portales De Capital Federal
                                            </p>
                                            <p class="location mb0">
                                                Av. Corrientes 3247, Buenos Aires
                                            </p>
                                            <p class="shedules mb0">
                                                0800-222-2299
                                            </p>
                                            <p class="f-13 location">
                                                Lunes a Domingo de 11 a 00hs
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div>
                                <div id="terminos">
                                    <br>
                                    <br>
                                    <h2 id="Terminos">TERMINOS Y CONDICIONES</h2>
                                    <br>
                                    <p> Bienvenidos a WWW.LOVELOOK.COM.AR, sitio web perteneciente a LOVELOOK S.A. (en
                                        adelante
                                        "LOVELOOK"). Por
                                        favor, lea los Términos y Condiciones Generales (en adelante, los "Términos y
                                        Condiciones")
                                        que
                                        se
                                        describen a continuación. Estos se aplicarán para la navegación del Sitio de
                                        Internet
                                        WWW.LOVELOOK.COM.AR (en adelante, el "Website" o "Sitio") y los servicios
                                        ofrecidos en él.
                                    </p>
                                    <br>
                                    <p>Para facilitar la navegación del presente Website, los Usuarios podrán encontrar
                                        los Términos
                                        y
                                        Condiciones Generales aquí descriptos en forma resumida, al final de la página
                                        de inicio,
                                        clickeando en
                                        los ítems correspondientes.</p>
                                    <br>
                                    <h3>01. Aceptación y conocimiento de los Términos y Condiciones</h3>
                                    <br>
                                    <p>Los presentes Términos y Condiciones tienen carácter obligatorio y vinculante. Se
                                        aplican
                                        exclusivamente
                                        a todas las compras y actividades realizadas mediante el Website, no a las
                                        adquisiciones
                                        realizadas de
                                        modo presencial en alguno de los locales de LOVELOOK. El uso del Sitio implica
                                        el
                                        conocimiento y
                                        la
                                        aceptación de ellos. Si usted no está de acuerdo con los Términos y Condiciones,
                                        deberá
                                        abstenerse de
                                        utilizar el Website y/o los servicios por él ofrecidos. Por "Usuario" del
                                        Website se
                                        entiende a
                                        todas
                                        aquellas personas que utilicen el Website, estén o no registrados en el mismo.
                                    </p>
                                    <br>
                                    <p>permitirles a los Usuarios una más rápida familiarización con estos Términos y
                                        Condiciones
                                        podrán
                                        consultar también todas las demás instrucciones para operar en el Website, como
                                        por ejemplo,
                                        las
                                        páginas
                                        de ayuda o de preguntas frecuentes que las sintetizan, y que también forman
                                        parte de estos
                                        Términos y
                                        Condiciones.</p>
                                    <br>
                                    <h3>02. Modificación de los Términos y Condiciones</h3>
                                    <br>
                                    <p>LOVELOOK podrá, a su exclusivo criterio, sustituir o modificar los Términos y
                                        Condiciones en
                                        cualquier
                                        momento, sin necesidad de de requerir el consentimiento de los Usuarios. Para
                                        las
                                        transacciones
                                        en curso
                                        que hayan comenzado con anterioridad a dichas modificaciones, subsistirán las
                                        condiciones
                                        vigentes al
                                        momento de su concertación, a menos que las nuevas modificaciones introducidas
                                        fueran más
                                        convenientes
                                        para el Usuario.</p>
                                    <br>
                                    <p>LOVELOOK pondrá un aviso en el Website alertando a los Usuarios sobre estos
                                        cambios, durante
                                        un
                                        tiempo
                                        razonable. Sin perjuicio de lo anterior, los Usuarios son responsables de leer
                                        estos
                                        Términos y
                                        Condiciones cada vez que ingresen al Website para ver si han sufrido
                                        modificaciones.</p>
                                    <br>
                                    <h3>03. Interrupción del Servicio - Exclusión de responsabilidad</h3>
                                    <br>
                                    <p>LOVELOOK se reserva el derecho de interrumpir, suspender o modificar en cualquier
                                        momento los
                                        servicios
                                        ofrecidos en el presente Website, ya sea en forma permanente o transitoria. No
                                        se requerirá
                                        la
                                        conformidad de los Usuarios, ni será necesario aviso previo alguno.</p>
                                    <br>
                                    <p>Asimismo, LOVELOOK no garantiza la funcionalidad ni el acceso o uso permanente
                                        del Website,
                                        que
                                        podría
                                        interrumpirse por cuestiones técnicas ajenas a LOVELOOK LOVELOOK no garantiza
                                        que el Website
                                        se
                                        encuentre libre de virus, gusanos o cualquier otro elemento que pueda llegar a
                                        dañar o
                                        alterar
                                        el normal
                                        funcionamiento de un ordenador. Es responsabilidad y obligación exclusiva del
                                        Usuario contar
                                        con
                                        las
                                        herramientas adecuadas para detectar, desinfectar y/o prevenir cualquier tipo de
                                        elementos
                                        y/o
                                        posibles
                                        dañ;os de esta naturaleza.</p>
                                    <br>
                                    <p>LOVELOOK no se responsabiliza por cualquier dao que pueda producirse en los
                                        equipos
                                        informáticos
                                        de los
                                        Usuarios o de terceros como consecuencia de la navegación del presente Website.
                                    </p>
                                    <br>
                                    <h3>04. Registración</h3>
                                    <br>
                                    <p>Los Usuarios pueden navegar libremente por el Website. Se sugiere estar
                                        registrados para
                                        poder
                                        realizar
                                        alguna compra, pero también se podrá realizar como invitado sin la necesidad de
                                        registrarse.
                                    </p>
                                    <br>
                                    <p>La registración de los Usuarios se realiza ingresando al Website, y no tiene
                                        costo alguno.
                                    </p>
                                    <br>
                                    <p>Para registrarse, es obligatorio completar el formulario REGISTRATE en todos los
                                        campos con
                                        datos
                                        válidos
                                        y verdaderos, de manera exacta y precisa. Para un correcto funcionamiento del
                                        sistema, es
                                        necesario que
                                        los Usuarios mantengan sus datos actualizados en el Website. LOVELOOK podrá
                                        proceder a
                                        verificar
                                        la
                                        identidad del Usuario y/o de los datos consignados por éste.</p>
                                    <br>
                                    <p>LOVELOOK no se responsabiliza por la veracidad o certeza de los datos provistos
                                        por los
                                        Usuarios.
                                        Asimismo, LOVELOOK se reserva el derecho de suspender temporal o definitivamente
                                        a los
                                        Usuarios
                                        en caso
                                        de incumplimiento de los Términos y Condiciones, como así también de rechazar
                                        solicitudes
                                        y/o
                                        pedidos
                                        realizados. Los Usuarios accederán a su Cuenta Personal (la "Cuenta") mediante
                                        un nombre de
                                        Usuario y
                                        una clave personal que deberán escoger. En caso de que estos datos sean
                                        olvidados por el
                                        Usuario,
                                        LOVELOOK cuenta con un servicio de ayuda para recuperarlos. Para esto se deberá
                                        hacer
                                        "click" en
                                        la
                                        opción correspondiente e ingresar el e-mail que se proporcionó al momento de la
                                        registración. Al
                                        finalizar, el sistema le enviará de manera confidencial a esa cuenta su nombre
                                        de Usuario y
                                        la
                                        clave
                                        personal.</p>
                                    <br>
                                    <p>Así como LOVELOOK se compromete a mantener la confidencialidad de los datos
                                        aportados por los
                                        Usuarios
                                        para su registro, los Usuarios se comprometen a mantener la confidencialidad de
                                        su nombre y
                                        clave de
                                        acceso. De conformidad con lo expresado en el párrafo anterior, los Usuarios son
                                        responsables
                                        del uso
                                        que se haga de su clave y deberán tener presente que si otras personas tienen o
                                        pueden tener
                                        en
                                        el
                                        futuro acceso a la cuenta de e-mail consignada como propia en el formulario de
                                        registración,
                                        éstas
                                        también podrían solicitar su clave de acceso y nombre de Usuario. Es obligación
                                        exclusiva
                                        del
                                        Usuario
                                        tomar las medidas pertinentes para que esto no suceda. El Usuario se compromete
                                        a notificar
                                        inmediatamente y de manera fehaciente a LOVELOOK cualquier uso no autorizado de
                                        su Cuenta de
                                        Usuario, y
                                        a mantenerlo indemne en el caso de que se esto produzca algún daño a la Empresa
                                        o a
                                        terceros.
                                    </p>
                                    <br>
                                    <H3>05. Capacidad</H3>
                                    <br>
                                    <p>Para utilizar los servicios del Website se requiere tener capacidad legal para
                                        contratar. No
                                        podrán
                                        acceder a los servicios quienes carezcan de ella, los que hayan sido suspendidos
                                        o
                                        inhabilitados, ni los
                                        menores de edad. Los padres, tutores o responsables de los menores de edad o
                                        incapaces que
                                        utilicen el
                                        Website serán responsables por dicho uso, incluyendo cualquier cargo,
                                        facturación o daño que
                                        se
                                        derive
                                        de él.</p>
                                    <br>
                                    <h3>6 - Política de Privacidad de los datos personales suministrados por el
                                        Usuario.Seguridad y
                                        tratamiento
                                    </h3>
                                    <br>
                                    <p>Para poder utilizar el Website de manera eficiente y segura, los Usuarios deberán
                                        aportar
                                        ciertos
                                        datos,
                                        entre ellos, su nombre y apellido, domicilio, cuenta de e-mail, documento de
                                        identidad,
                                        fecha de
                                        nacimiento, sin los cuales se tornaría imposible brindar los servicios. Por eso
                                        se requiere
                                        que
                                        éstos
                                        sean verdaderos y exactos. Los datos recabados por los formularios
                                        correspondientes serán
                                        incorporados a
                                        una base de la cual es responsable LOVELOOK. La información personal que los
                                        Usuarios
                                        ingresan
                                        en el
                                        Website es totalmente confidencial y LOVELOOK hará su mejor esfuerzo para
                                        proteger la
                                        privacidad
                                        de los
                                        mismos, de conformidad con lo dispuesto en la Ley 25.326. Para esto se utilizará
                                        el sistema
                                        de
                                        Secure
                                        Socket Layer (SSL) de Verisign, que encripta los datos suministrados y evita su
                                        uso
                                        desautorizado,
                                        garantizando una operación segura. No obstante lo anterior, el Usuario deberá
                                        tener en
                                        cuenta
                                        que
                                        Internet no es un medio inexpugnable en cuanto a su seguridad.</p>
                                    <br>
                                    <p>Cuando se ingresan datos y números correspondientes a tarjetas de crédito estos
                                        son
                                        encriptados,
                                        asegurando así que se mantengan en total confidencialidad y no puedan ser vistos
                                        por otras
                                        personas.</p>
                                    <br>
                                    <p>Los Usuarios tienen el derecho de acceder a la información de su Cuenta, y podrán
                                        modificar
                                        los
                                        datos
                                        ingresados cuando lo deseen. Cualquier Usuario del Website tendrá derecho a
                                        solicitar y
                                        obtener
                                        información sobre los datos personales que LOVELOOK tenga en su base, quedando
                                        la Empresa
                                        obligada a
                                        proporcionar la información solicitada dentro de los diez días corridos de haber
                                        sido
                                        intimada
                                        fehacientemente. Los Usuarios también podrán ejercer el derecho de
                                        rectificación, cuando los
                                        datos que
                                        se posean fueran incorrectos.</p>
                                    <br>
                                    <p>Asimismo, los Usuarios podrán requerir en cualquier momento la baja de su
                                        solicitud y la
                                        eliminación de
                                        su Cuenta de la base de datos.</p>
                                    <br>
                                    <p>LOVELOOK garantiza a sus Usuarios que utilizará los datos dentro de las pautas
                                        establecidas
                                        por
                                        la Ley
                                        25.326 de Protección de los Datos Personales.</p>
                                    <br>
                                    <p>En caso de que los datos sean requeridos por la vía legal, administrativa o
                                        judicial
                                        correspondiente,
                                        LOVELOOK se verá compelida a revelar los mismos a la autoridad solicitante. En
                                        la medida en
                                        que
                                        la
                                        legislación y normas de procedimiento lo permitan, LOVELOOK informará a los
                                        Usuarios sobre
                                        estos
                                        requerimientos.</p>
                                    <br>
                                    <p>Por el sólo hecho de registrarse en el Website, los Usuarios aceptan que LOVELOOK
                                        tiene
                                        derecho a
                                        comunicarse con ellos por vía postal, telefónica o electrónica y enviar
                                        información que la
                                        Empresa
                                        considere, a su exclusivo criterio, que pueda ser de su interés, incluyendo
                                        publicidad e
                                        información
                                        sobre ofertas y promociones. En caso de que los Usuarios no deseen ser
                                        contactados con estos
                                        fines,
                                        podrán manifestarse fehacientemente a LOVELOOK, quien procederá a interrumpir
                                        este tipo de
                                        comunicaciones en el menor tiempo que le sea posible.</p>
                                    <br>
                                    <h3>07. Veracidad de la información suministrada</h3>
                                    <br>
                                    <p>En caso de que la información o los datos suministrados por el Usuario no sea
                                        verdadera, éste
                                        será
                                        responsable por los daos que este hecho pudiera ocasionar.</p>
                                    <br>
                                    <h3>08. Sugerencias y Comentarios</h3>
                                    <br>
                                    <p>Todas las sugerencias y comentarios que realice el Usuario podrán ser tenidas en
                                        cuenta,
                                        implementadas o
                                        adaptadas por LOVELOOK sin que ello genere derecho alguno a favor de tal
                                        Usuario.</p>
                                    <br>
                                    <h3>09. Cookies</h3>
                                    <br>
                                    <p>El Website puede utilizar un sistema de seguimiento mediante "cookies", para que
                                        el acceso a
                                        la
                                        información, al pasar de página en página, se realice con mayor rapidez. También
                                        ayuda en
                                        algunos casos
                                        a identificar a los Usuarios, sin necesidad de solicitarles la clave de acceso
                                        una y otra
                                        vez.
                                    </p>
                                    <p>Estas cookies son pequeños archivos que envía la página visitada y se alojan en
                                        el disco duro
                                        del
                                        ordenador, ocupando poco espacio.</p>
                                    <p>Se hace saber a los Usuarios que utilizando las opciones de su navegador podrán
                                        limitar o
                                        restringir
                                        según su voluntad el alojamiento de estas "cookies", aunque es desaconsejable
                                        restringirlas
                                        totalmente.
                                    </p>
                                    <p>El sistema podrá recoger información sobre sus preferencias e intereses. En el
                                        caso de que
                                        esto
                                        ocurra,
                                        la información será utilizada exclusivamente con fines estadísticos para mejorar
                                        los
                                        servicios
                                        que se
                                        prestan en el Website. LOVELOOK aplicará, en la mayor medida en que sea posible,
                                        procedimientos
                                        de
                                        disociación de la información de modo que los titulares de los datos sean
                                        identificables.
                                    </p>
                                    <br>
                                    <h3>10. Disponibilidad de los Productos ofrecidos</h3>
                                    <br>
                                    <p>Antes de realizar una compra a través del Website, el Usuario deberá tener en
                                        cuenta que los
                                        productos
                                        seleccionados pueden no encontrarse en stock. Toda compra se encuentra sujeta a
                                        disponibilidad.
                                    </p>
                                    <br>
                                    <h3>11 - Opciones del Usuario ante productos agotados o demorados</h3>
                                    <br>
                                    <p>En concordancia con el punto anterior, en caso de que el o los productos
                                        seleccionados se
                                        encontraren
                                        agotados o demorados, LOVELOOK se comunicará con el Usuario y lo invitará a que
                                        elija una de
                                        las
                                        siguientes opciones:</p>
                                    <p>Continuar esperando la entrega del producto elegido (en caso de
                                        demora);Cancelación de la
                                        compra
                                        y
                                        devolución del importe a través del mismo medio de pago utilizado por el
                                        Usuario; Optar por
                                        un
                                        producto
                                        alternativo que le ofrezca LOVELOOK para el caso particular;</p>
                                    <p>Cuando el Usuario opte por cancelar la compra, se devolverá el importe abonado a
                                        través del
                                        mismo
                                        medio
                                        de pago utilizado oportunamente por el Usuario.</p>
                                    <p>En el caso de que el Usuario opte por el producto alternativo que le ofrece
                                        LOVELOOK, éste
                                        deberá
                                        contener características iguales o superiores. En ningún caso se le pedirá al
                                        Usuario que
                                        abone
                                        sumas
                                        suplementarias o que se haga cargo de las diferencias, salvo que el producto
                                        alternativo
                                        ofrecido por
                                        LOVELOOK y escogido por el Usuario sea de características ampliamente superiores
                                        y costosas
                                        al
                                        solicitado originalmente por el Usuario.</p>
                                    <p>IMPORTANTE: para las situaciones contempladas en este apartado, el Usuario tendrá
                                        un plazo de
                                        diez días
                                        para elegir una de las opciones mencionadas. En caso de que el Usuario guarde
                                        silencio al
                                        respecto,
                                        LOVELOOK podrá presumir que ha optado por la cancelación de la compra, y
                                        procederá a la
                                        devolución del
                                        importe abonado, ya sea por el medio de pago original, o acreditándole como
                                        Pesos On-Line en
                                        la
                                        Cuenta.
                                    </p>
                                    <br>
                                    <h3>12. Devolución del Importe abonado</h3>
                                    <br>
                                    <p>En los casos mencionados en el punto anterior en que el Usuario haya optado por
                                        la devolución
                                        del
                                        importe
                                        abonado, deberá tener en cuenta que el reintegro puede demorar algunos días,
                                        debido a plazos
                                        y
                                        cuestiones administrativas.</p>
                                    <p>Para los casos de devolución vía depósito bancario, la cuenta bancaria deberá
                                        estar a nombre
                                        del
                                        titular
                                        de la Cuenta de Usuario desde donde se haya realizado la operación. En caso de
                                        que no
                                        coincidan
                                        las
                                        titularidades, se requerirá la expresa autorización del titular de la Cuenta de
                                        Usuario como
                                        condición
                                        indispensable previa al depósito.</p>
                                    <br>
                                    <h3>13. Validez de las promociones</h3>
                                    <br>
                                    <p>En el caso de que se realicen ofertas y promociones de productos, éstas tendrán
                                        validez para
                                        las
                                        compras efectuadas durante el período de vigencia de las ofertas y promociones.
                                        Los términos
                                        y
                                        condiciones
                                        de las mismas serán comunicados en el Website, y estarán siempre sujetas a la
                                        existencia en
                                        stock de los
                                        productos ofrecidos.</p>
                                    <br>
                                    <h3>14. Impuesto al Valor Agregado (IVA)</h3>
                                    <br>
                                    <p>Todos los precios expresados en el Website incluyen IVA, salvo que se indique lo
                                        contrario.
                                    </p>
                                    <br>
                                    <h3>15. Derecho de arrepentimiento - Devolución de productos</h3>
                                    <br>
                                    <p>El Usuario tendrá derecho a devolver los productos adquiridos en el Website
                                        durante el plazo
                                        de
                                        diez (10)
                                        días corridos, contados a partir de la entrega de la cosa, sin responsabilidad
                                        alguna. Para
                                        esto
                                        deberá
                                        notificar de manera fehaciente a LOVELOOK, dentro del plazo sellado, y poner a
                                        su
                                        disposición el
                                        o los
                                        productos adquiridos. Los productos deberán estar en el mismo estado en que
                                        fueron
                                        recibidos,
                                        sin haber
                                        sido utilizados, y con el embalaje original.</p>
                                    <p>En este caso, el Usuario tendrá opción a: (i) Obtener un crédito para compras
                                        futuras
                                        equivalente
                                        al
                                        importe del producto adquirido más el costo del envío; (ii) Obtener la
                                        devolución del
                                        importe
                                        del
                                        producto adquirido, a través del mismo medio de pago original. En este caso, no
                                        se
                                        reintegrarán
                                        los
                                        gastos de envío.</p>
                                    <p>Asimismo, si el o los productos presentaren algún defecto de fabricación,
                                        hubieren sufrido
                                        roturas o
                                        deterioros en tránsito, o fueren despachados equivocadamente, el Usuario deberá
                                        comunicarse
                                        con
                                        el
                                        Centro de Atención al Cliente dentro del plazo mencionado en el párrafo
                                        anterior, para que
                                        LOVELOOK
                                        proceda, según corresponda, a gestionar el re-despacho de la compra, o pasar a
                                        retirar la
                                        orden.
                                    </p>
                                    <p>Los productos no deben haber sido utilizados, y deben encontrarse en las mismas
                                        condiciones
                                        en
                                        que fueron
                                        recibidos, con sus embalajes y etiquetas. Por ejemplo, y a mero título
                                        ilustrativo, si el
                                        producto se
                                        encuentra en un envoltorio ("blíster") plástico, éste debe ser abierto prolija y
                                        cuidadosamente,
                                        pues de
                                        lo contrario no podrá realizarse el cambio.</p>
                                    <br>
                                    <h3>16. Moneda</h3>
                                    <br>
                                    <p>Todos los precios en el Website están expresados en pesos argentinos, moneda de
                                        curso legal
                                        de la
                                        República Argentina.</p>
                                    <br>
                                    <p>Las opciones de financiación disponibles variarán según fechas, y serán
                                        debidamente indicadas
                                        en
                                        el
                                        website y en las piezas de comunicación de cada acción.</p>
                                    <br>
                                    <h3>17. Medios de Pago</h3>
                                    <br>
                                    <p>Los pagos podrán realizarse con tarjeta de crédito en un pago o en cuotas, según
                                        se indique
                                        en el
                                        Website. El Usuario podrá ver el importe de las cuotas haciendo "click" en
                                        "Planes de Pago",
                                        dentro de
                                        la página en que se encuentra el producto.</p>
                                    <br>
                                    <p>Todos los medios de pago están sujetos a que el importe sea debidamente
                                        acreditado y/o
                                        verificado.</p>
                                    <br>
                                    <h3>18. Pagos con Tarjeta de Crédito</h3>
                                    <br>
                                    <p>Los pagos podrán ser realizados on-line mediante las tarjetas Visa, Amex, Master,
                                        Diners,
                                        Naranja, CMR,
                                        Nativa Master y Mas. Toda la información ingresada por el Usuario está protegida
                                        por el
                                        sistema
                                        SSL (ver
                                        punto 6). La confirmación de la compra con tarjeta de crédito estará sujeta a la
                                        autorización
                                        del emisor
                                        de la misma.</p>
                                    <br>
                                    <h3>19. Envíos de Productos dentro del País - Tiempos de entrega</h3>
                                    <br>
                                    <p>Las entregas se realizarán en la dirección que el Usuario indique. La validez de
                                        la misma es
                                        de
                                        su
                                        exclusiva responsabilidad. No se entregarán órdenes a casillas de correo (P.O.
                                        Box).</p>
                                    <br>
                                    <p>El tiempo de entrega depende de la disponibilidad del producto, del tiempo de
                                        envío y de la
                                        aprobación
                                        del medio de pago. Los días que se indiquen son estimativos. Los envíos se
                                        realizan en toda
                                        la
                                        República
                                        Argentina, sin excepción. No se realizan envíos al exterior del país.</p>
                                    <br>
                                    <p>Al realizar una compra, el Usuario recibe en su casilla de correo electrónico una
                                        confirmación de
                                        que la
                                        orden de pedido ha sido aceptada, junto a un número de pedido. Para asegurar la
                                        máxima
                                        eficacia
                                        en las
                                        entregas, éstas se realizan mediante empresas especializadas.</p>
                                    <br>
                                    <p>El tiempo de aprobación varía según el medio de pago. En el caso de las tarjetas
                                        de crédito,
                                        el
                                        Usuario
                                        deberá verificar que los datos proporcionados para la autorización sean
                                        correctos.</p>
                                    <br>
                                    <p>El tiempo de envío varía según el destino donde se solicite la entrega.</p>
                                    <br>
                                    <p>Para calcular el gasto de envío y el tiempo que demandará la entrega, el Usuario
                                        puede hacer
                                        "click" en
                                        la opción "Tiempo y Costos de Envío".</p>
                                    <br>
                                    <p>El tiempo de entrega de la totalidad de la orden, así como su costo, será
                                        informado al
                                        Usuario
                                        antes de
                                        aceptar la compra.</p>
                                    <br>
                                    <h3>20. Gastos de Envío</h3>
                                    <br>
                                    <p>El Usuario será claramente informado de los costos de entrega antes de realizar
                                        la compra.
                                        Estos
                                        costos
                                        son calculados en función del peso total y/o el volumen total del envío, y
                                        también dependen
                                        de
                                        la zona
                                        del domicilio de entrega.</p>
                                    <br>
                                    <p>Los costos de envío serán discriminados como ítem separado dentro de la factura.
                                        LOVELOOK
                                        está
                                        siempre
                                        trabajando para mejorar la calidad y el costo de entrega para sus clientes. Por
                                        este motivo,
                                        dichos
                                        costos y las políticas de envío se hallan sujetas a cambio sin previo aviso.</p>
                                    <br>
                                    <h3>21. Horarios de entrega</h3>
                                    <br>
                                    <p>Los productos serán entregados en días hábiles de 8:00 a 20:00 hs. Los Usuarios
                                        no podrán
                                        elegir
                                        ni el
                                        horario ni el día en que se entregarán el o los productos adquiridos, por lo que
                                        se
                                        recomienda
                                        seleccionar su domicilio laboral como punto de entrega para mayor seguridad. De
                                        todos modos,
                                        podrán
                                        hacerse sugerencias en el campo de observaciones al momento de realizar la
                                        compra, las que
                                        quedarán
                                        supeditadas al circuito de la empresa que tenga a su cargo el envío de los
                                        productos.</p>
                                    <br>
                                    <p>Las entregas se realizan a mayores de 18 aos con acreditación de identidad, con
                                        firma de
                                        acuse y
                                        planilla
                                        de recorrido.</p>
                                    <br>
                                    <p>Se realizan 2 intentos de entrega. En la segunda visita se deja un aviso, para
                                        que el pedido
                                        sea
                                        retirado
                                        de la sucursal de tramitación dentro de los 5 días hábiles a partir de la
                                        segunda visita.
                                    </p>
                                    <br>
                                    <h3>22. Dirección de Entrega</h3>
                                    <br>
                                    <p>La dirección en donde se entregará el producto será la que el Usuario indique.
                                        Podrá no
                                        coincidir
                                        con su
                                        domicilio. Es responsabilidad del Usuario completar y revisar cuidadosamente la
                                        información
                                        relacionada
                                        con la entrega, para que el envío de la compra se haga de manera efectiva y
                                        puntual. No se
                                        realizan
                                        envíos a casillas de correo (P.O. Box).</p>
                                    <br>
                                    <h3>23. Consulta sobre el estado de envío</h3>
                                    <br>
                                    <p>El estado ("tracking") del pedido podrá ser consultado a traves de tu cuenta con
                                        el numero de
                                        seguimiento
                                        o llamando a nuestro Centro de Atención al Cliente 0800-555-2433 ó vía e-mail a
                                        ventasweb@LOVELOOK.com.ar. En todos los casos se deberá indicar el número de
                                        pedido.</p>
                                    <br>
                                    <h3>24. Facturación</h3>
                                    <br>
                                    <p>El Usuario recibirá por mail la factura tipo "B" electrónica de su compra con la
                                        información
                                        clara y
                                        precisa de los productos comprados, el método y plan de pago, y la moneda para
                                        la
                                        transacción.
                                        Junto al
                                        envío físico recibirá una copia impresa de dicha factura.</p>
                                    <br>
                                    <p>Las facturas son emitidas por LOVELOOK S.A.., con domicilio en Cuyo 3040 -
                                        Martinez, Buenos
                                        Aires,
                                        Argentina.</p>
                                    <br>
                                    <h3>25. Cancelación de Órdenes de Compra</h3>
                                    <br>
                                    <p>El usuario deberá gestionarlo desde el botón de arrepentimiento, ubicado al final
                                        de nuestra
                                        pagina
                                        inicial. El mismo cancela la compra automáticamente. De lo contrario, deberás
                                        gestionarlo a
                                        través de
                                        nuestro WhatsApp: envíanos un mensaje en el horario de atención de Lunes a
                                        Viernes 10 a
                                        18hrs al
                                        1168731917 .Deberás seleccionar: menú principal; opción C (Atención al Cliente)
                                        > opción B
                                        (otras
                                        consultas) > opción B (atención al cliente e-commerce) > opción 9 (contactar
                                        operador).</p>
                                    <br>
                                    <h3>26. Política de Cambios</h3>
                                    <br>
                                    <p>Sólo podrán cambiarse aquellas prendas que se encuentren en perfectas condiciones
                                        y que
                                        incluyan
                                        su
                                        etiqueta original colocada. Asimismo, deberá acompañarse la correspondiente
                                        factura de
                                        compra.
                                    </p>
                                    <br>
                                    <p>Los productos adquiridos deberán ser cambiados, bajo las condiciones indicadas en
                                        el párrafo
                                        anterior, en
                                        cualquiera de los locales que se detallan a continuación:</p>
                                    <br>
                                    <h3>27. Prohibiciones</h3>
                                    <br>
                                    <p>Se les prohíbe terminantemente a los Usuarios: a) enviar comentarios cuyo
                                        contenido sea
                                        ilegal,
                                        obsceno,
                                        abusivo, difamatorio, injurioso o contrario a las buenas costumbres (la presente
                                        enumeración
                                        es
                                        meramente ejemplificativa); b) enviar archivos que contengan virus o cualquier
                                        otra
                                        característica capaz
                                        de dar el funcionamiento de una computadora, del Website o del sistema; c)
                                        utilizar el
                                        Website
                                        para
                                        violar cualquier tipo de norma vigente; d) consignar datos falsos al momento de
                                        registrarse
                                        o
                                        realizar
                                        una compra, o cualquier otro momento en que les sea requerida cualquier tipo de
                                        información
                                        o
                                        datos
                                        personales; e) ofrecer productos o servicios; f) usar programas, software o
                                        aparatos
                                        automáticos
                                        o
                                        manuales para monitorear o copiar la información o cualquier tipo de contenido
                                        del Sitio sin
                                        previo
                                        consentimiento de LOVELOOK</p>
                                    <br>
                                    <h3>28. Declaraciones</h3>
                                    <br>
                                    <p>LOVELOOK no se hace responsable por la veracidad de la información incorporada al
                                        Website por
                                        terceros.
                                        Tampoco se hace responsable en cuanto haya sido reproducida o comunicada
                                        directamente por
                                        los
                                        Usuarios
                                        del Website sin verificación por parte de LOVELOOK.</p>
                                    <br>
                                    <p>Si algún Usuario se viera afectado por la información a la que se alude en el
                                        párrafo
                                        anterior,
                                        deberá
                                        comunicárselo a LOVELOOK, por mail o correo postal, a fin de que se proceda a la
                                        supresión
                                        de la
                                        misma.
                                    </p>
                                    <br>
                                    <h3>29. Derechos Reservados</h3>
                                    <br>
                                    <p>Todos los derechos del presente Website están reservados y corresponden a
                                        LOVELOOK El
                                        contenido
                                        del
                                        presente Website, incluyendo aunque no limitado al texto, logos, gráficos, y
                                        todo el diseo
                                        en
                                        general,
                                        así como su base de datos y software, es de propiedad de LOVELOOK o tiene
                                        derecho a usarlo
                                        en
                                        virtud de
                                        licencias de uso otorgadas y se encuentra protegido por las legislación nacional
                                        e
                                        internacional
                                        vigente
                                        sobre propiedad intelectual.</p>
                                    <br>
                                    <p>Si el Usuario considera que en el Website se viola o atenta de algún modo contra
                                        derechos de
                                        propiedad
                                        intelectual de terceros deberá notificarlo a LOVELOOK en la dirección indicada
                                        en los
                                        presentes
                                        Términos
                                        y Condiciones Generales, acompañando toda la información y documentación
                                        necesaria que
                                        respalde
                                        la
                                        mencionada consideración.</p>
                                    <br>
                                    <h3>30. Razón Social y Domicilio</h3>
                                    <br>
                                    <p>La razón social de la empresa es LOVELOOK S.A.. El domicilio legal es Reconquista
                                        656 Piso
                                        8vo
                                        "B" ,
                                        Ciudad Autónoma de Buenos Aires, Argentina.</p>
                                    <br>
                                    <h3>31. Notificaciones</h3>
                                    <br>
                                    <p>Todas las notificaciones y/o comunicaciones que deban efectuarse por el uso de
                                        Website bajo
                                        estos
                                        Términos y Condiciones Generales, deberán realizarse por escrito: (i) al
                                        Usuario: mediante
                                        correo
                                        electrónico, a la cuenta de correo consignada por éste, o por carta documento,
                                        al domicilio
                                        declarado en
                                        el formulario de registración; (ii) a LOVELOOK: a la cuenta de correo
                                        electrónico
                                        ventasweb@LOVELOOK.com.aro a su domicilio legal indicado en el punto anterior
                                        (Reconquista
                                        656
                                        Piso 8vo
                                        "B" , Ciudad Autónoma de Buenos Aires, Argentina).</p>
                                    <br>
                                    <h3>32. Avisos Publicitarios y Links</h3>
                                    <br>
                                    <p>Cuando el Usuario hace "click" en avisos publicitarios o links de terceros e
                                        ingresa en otros
                                        sitios que
                                        no pertenecen a LOVELOOK, estará sujeto a los términos y condiciones de dichos
                                        sitios. El
                                        Usuario deberá
                                        leer detenidamente sus políticas de acceso y uso.</p>
                                    <br>
                                    <p>LOVELOOK no garantiza la legalidad, actualidad, calidad ni utilidad de los
                                        contenidos,
                                        operaciones e
                                        informaciones que se comuniquen, reproduzcan y/o realicen en sitios enlazados de
                                        terceros ni
                                        la
                                        ausencia
                                        de nocividad de tales contenidos o servicios, por lo que el Usuario exime de
                                        toda
                                        responsabilidad a por
                                        los contenidos incluidos en los referidos sitios o los servicios que en ellos se
                                        brindan o
                                        promocionan.
                                    </p>
                                    <br>
                                    <h3>33. Ley y Jurisdicción Aplicable</h3>
                                    <br>
                                    <p>Cuando el Usuario hace "click" en avisos publicitarios o links de terceros e
                                        ingresa en otros
                                        sitios que
                                        no pertenecen a LOVELOOK, estará sujeto a los términos y condiciones de dichos
                                        sitios. El
                                        Usuario deberá
                                        leer detenidamente sus políticas de acceso y uso.</p>
                                    <br>
                                    <p>LOVELOOK no garantiza la legalidad, actualidad, calidad ni utilidad de los
                                        contenidos,
                                        operaciones e
                                        informaciones que se comuniquen, reproduzcan y/o realicen en sitios enlazados de
                                        terceros ni
                                        la
                                        ausencia
                                        de nocividad de tales contenidos o servicios, por lo que el Usuario exime de
                                        toda
                                        responsabilidad a
                                        LOVELOOK por los contenidos incluidos en los referidos sitios o los servicios
                                        que en ellos
                                        se
                                        brindan o
                                        promocionan.</p>
                                    <br>
                                    <h3>HABEAS DATA</h3>
                                    <br>
                                    <h3>SUS DATOS FORMARÁN PARTE DE NUESTRA BASE DE DATOS UNA VEZ INGRESADOS EN EL
                                        PRESENTE WEB
                                        SITE.
                                        USTED
                                        PODRÁ EJERCER SUS DERECHOS DE ACCESO, RECTIFICACIÓN O SUPRESIÓN, Y SOLICITAR SU
                                        EXCLUSIÓN
                                        CONFORME LO
                                        DISPUESTO POR LA LEY 25.326 EN SU ART. 27 ENVIANDO UNA CARTA A CHEEK S.A.
                                        DOMICILIADA EN
                                        CUYO
                                        3040,
                                        MARTÍNEZ, PROVINCIA DE BUENOS AIRES O UN MAIL A CALLCQ@LOVELOOK.COM.AR. EL
                                        TITULAR DE LOS
                                        DATOS
                                        PERSONALES TIENE LA FACULTAD DE EJERCER EL DERECHO DE ACCESO A LOS MISMOS EN
                                        FORMA GRATUITA
                                        A
                                        INTERVALOS
                                        NO INFERIORES A SEIS MESES, SALVO QUE SE ACREDITE UN INTERÉS LEGÍTIMO AL EFECTO
                                        CONFORME LO
                                        ESTABLECIDO
                                        EN EL ARTÍCULO 14, INCISO 3 DE LA LEY Nº 25.326. LA DIRECCION NACIONAL DE
                                        PROTECCION DE
                                        DATOS
                                        PERSONALES, ÓRGANO DE CONTROL DE LA LEY Nº 25.326, TIENE LA ATRIBUCIÓN DE
                                        ATENDER LAS
                                        DENUNCIAS
                                        Y
                                        RECLAMOS QUE SE INTERPONGAN CON RELACIÓN AL INCUMPLIMIENTO DE LAS NORMAS SOBRE
                                        PROTECCIÓN DE
                                        DATOS
                                        PERSONALES.</h3>
                                    <br>
                                    <br>
                                    <h3>DERECHO A REVOCACIÓN (incluir este texto en el proceso de compra y en todos los
                                        documentos
                                        incluyendo la
                                        factura)</h3>
                                    <br>
                                    <p>Usted tiene derecho a cancelar su pedido en un plazo de 10 (diez) días corridos a
                                        partir de
                                        la
                                        entrega.
                                        Puede solicitar la cancelación por mail a callcq@lovelook.com.ar</p>
                                    <br>
                                    <h3>GARANTÍA-PROCEDIMEINTO CONTROL DE CALIDAD (incluir este texto en las condiciones
                                        de la web)
                                    </h3>
                                    <br>
                                    <p>Garantía legal de nuestros productos es de 6 (seis) meses desde el momento de la
                                        compra. En
                                        caso
                                        de que
                                        el artículo presente algún tipo de falla de calidad, el cliente deberá acercarse
                                        al local
                                        habilitado más
                                        cercano a su domicilio con el ticket de compra -o en su defecto el ticket
                                        regalo- para
                                        verificar
                                        que se
                                        encuentra en el plazo de garantía. La prenda deberá estar limpia por una
                                        cuestión de
                                        seguridad e
                                        higiene
                                        para poder dar curso al reclamo. El local la enviará el departamento de control
                                        de calidad
                                        que
                                        analizará
                                        el caso y entregará el artículo reparado en un plazo de 10 (diez) días hábiles.
                                        En caso de
                                        que
                                        el
                                        producto no pueda ser reparado, y se verifique que efectivamente tiene una falla
                                        de
                                        fabricación,
                                        se
                                        autorizará el cambio. La garantía cubre únicamente fallas de fabricación, NO
                                        roturas, daños
                                        o
                                        desgastes
                                        derivados del mal uso o cuidado incorrecto de los artículos.</p>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <%- include('../partials/whatsapp.ejs') %>
                        <%- include('../partials/footer.ejs') %>  
                    <%- include('../partials/scripts.ejs') %>   
    </body>

</html>